HOST: http://bionames.org/bionames-api/

--- BioNames ---

---
Welcome to the our API documentation. All comments can be written in (support [Markdown](http://daringfireball.net/projects/markdown/syntax) syntax)
---

--
Lookup
--

Lookup BibJSON
POST api_lookup.php
> Accept: application/json
{
    "id": "B25",
    "author": [
        {
            "firstname": "B",
            "lastname": "Kensley",
            "name": "B Kensley"
        }
    ],
    "type": "article",
    "title": " Decapod Crustacea from the south-west Indian Ocean.",
    "journal": {
        "name": "Annals of the South African Museum ",
        "volume": "52",
        "pages": "149--181"
    },
    "year": "1969",
    "identifier": []
}
< 200
< Content-Type: application/json
{
    "id": "B25",
    "author": [
        {
            "firstname": "B",
            "lastname": "Kensley",
            "name": "B Kensley"
        }
    ],
    "type": "article",
    "title": " Decapod Crustacea from the south-west Indian Ocean.",
    "journal": {
        "name": "Annals of the South African Museum ",
        "volume": "52",
        "pages": "149--181"
    },
    "year": "1969",
    "identifier": []
}

--
Search
Simple search that takes a text string (e.g., taxon name) and returns objects of different types that match, or contain, that string
--

Search for Rhogeessa
GET search/Rhogeessa
< 200
< Content-Type: application/json
{
  "status": 200,
  "url": "_design\/search\/_view\/short?key=%22Rhogeessa%22&limit=1000",
  "results": {
    "facets": {
      "article": {
        "160e947e2f9cc037d8d3355cf3bc1083": {
          "count": 2,
          "term": "The baculum in the Vespertilioninae (Chiroptera: Vespertilionidae) with a systematic review, a synopsis of Pipistrellus and Eptesicus, and the descriptions of a new genus and subgenus"
        },
        "1f702d6ade7ef44f6d5348954c70e5b3": {
          "count": 3,
          "term": "LX.\u2014Description of a new Mexican bat"
        },
        "2f407d2e908d4ae2b045b7ea61a3bf55": {
          "count": 2,
          "term": "The streblid batflies of Venezuela (Diptera: Streblidae)"
        },
        "681ea7fa138e3fc89701699983e87caf": {
          "count": 2,
          "term": "Description of a new large-bodied species of Apomys Mearns, 1905 (Mammalia: Rodentia: Muridae) from Mindoro Island, Philippines"
        },
        "8fa514961f972e19b106538f54c4a985": {
          "count": 2,
          "term": "Venezuelan nycteribiid batflies (Diptera: Nycteribiidae)"
        },
        "9e842f089e0976d9982851948da8fe1e": {
          "count": 3,
          "term": "The families and genera of bats"
        },
        "9a98776716c5dbbe4a606ba8c979f846": {
          "count": 1,
          "term": "Baker 1984. A sympatric cryptic species of mammal: a new species of Rhogeessa (Chiroptera: Vespertilionidae). Systematic Zoology, 33(2) 1984: 178-183"
        }
      },
      "generic": {
        "885a1e02ad511a6f6b9feb7e6e94eff3": {
          "count": 1,
          "term": "The streblid batflies of Panama (Diptera: Streblidae)"
        }
      },
      "nameCluster": {
        "cluster\/427071": {
          "count": 1,
          "term": "Rhogeessa"
        },
        "cluster\/2730132": {
          "count": 1,
          "term": "Rhogeessa io"
        },
        "cluster\/1268815": {
          "count": 1,
          "term": "Rhogeessa mira"
        },
        "cluster\/18036": {
          "count": 1,
          "term": "Rhogeessa tumida"
        },
        "cluster\/700163": {
          "count": 1,
          "term": "Rhogeessa alleni"
        },
        "cluster\/4491271": {
          "count": 1,
          "term": "Rhogeessa hussoni"
        },
        "cluster\/277699": {
          "count": 1,
          "term": "Rhogeessa parvula"
        },
        "cluster\/1665550": {
          "count": 1,
          "term": "Rhogeessa gracilis"
        },
        "cluster\/940246": {
          "count": 1,
          "term": "Rhogeessa minutilla"
        },
        "cluster\/445712": {
          "count": 1,
          "term": "Rhogeessa genowaysi"
        }
      },
      "taxonConcept": {
        "gbif\/2432269": {
          "count": 3,
          "term": "Baeodon"
        },
        "ncbi\/153294": {
          "count": 1,
          "term": "Rhogeessa"
        }
      }
    }
  }
}

--
Objects
The following is a section of resources related to individual objects
--

Get object using its BioNames identifier
GET id/ffdaea1678d7dad01843234facb20e8d
< 200
< Content-Type: application/json
{
  "_id": "ffdaea1678d7dad01843234facb20e8d",
  "_rev": "1-5f87ba747974ae7d76b626e8261772bb",
  "type": "article",
  "provenance": {
    "mysql": {
      "id": "2282664",
      "modified": "2013-02-24 14:27:27"
    },
    "crossref": {
      "time": 1362070324,
      "url": "http:\/\/dx.doi.org\/10.1111\/j.1550-7408.1970.tb04696.x"
    }
  },
  "citation_string": "Stephen C Ayala (1970) Two new trypanosomes from California toads and lizards. J Protozool.: 370--373",
  "title": "Two new trypanosomes from California toads and lizards",
  "journal": {
    "name": "J Protozool.",
    "pages": "370--373",
    "identifier": [
      {
        "id": "0022-3921",
        "type": "issn"
      }
    ]
  },
  "year": "1970",
  "identifier": [
    {
      "type": "doi",
      "id": "10.1111\/j.1550-7408.1970.tb04696.x"
    }
  ],
  "author": [
    {
      "firstname": "Stephen C",
      "lastname": "Ayala",
      "name": "Stephen C Ayala"
    }
  ],
  "publisher": "Wiley Blackwell (Blackwell Publishing)",
  "status": 200
}

Get object based on external identifier, e.g. a DOI. The syntax is /id/{namespace}/identifier
GET /id/doi/10.5479/si.00963801.101-3284.465
< 200
< Content-Type: application/json
{
  "id": "7278b4840ef8b708f87625a5e6cc84d7",
  "key": "10.5479\/si.00963801.101-3284.465",
  "value": "7278b4840ef8b708f87625a5e6cc84d7",
  "doc": {
    "_id": "7278b4840ef8b708f87625a5e6cc84d7",
    "_rev": "1-890e62209ec1a8228e78b64e061f09ad",
    "type": "article",
    "provenance": {
      "mysql": {
        "id": "2905127",
        "modified": "2013-02-24 14:28:17"
      },
      "crossref": {
        "time": 1362069123,
        "url": "http:\/\/dx.doi.org\/10.5479\/si.00963801.101-3284.465"
      },
      "biostor": {
        "time": 1362069128,
        "url": "http:\/\/biostor.org\/reference\/51910.json"
      }
    },
    "citation_string": "Frederick A Shannon (1951) Notes on a herpetological collection from Oaxaca and other localities in Mexico. Proceedings of the United States National Museum: 465--484",
    "title": "Notes on a herpetological collection from Oaxaca and other localities in Mexico",
    "journal": {
      "name": "Proceedings of the United States National Museum",
      "pages": "465--484",
      "identifier": [
        {
          "id": "0096-3801",
          "type": "issn"
        }
      ]
    },
    "year": "1951",
    "identifier": [
      {
        "type": "doi",
        "id": "10.5479\/si.00963801.101-3284.465"
      },
      {
        "type": "biostor",
        "id": "51910"
      }
    ],
    "author": [
      {
        "firstname": "Frederick A",
        "lastname": "Shannon",
        "name": "Frederick A Shannon"
      }
    ],
    "publisher": "Smithsonian Institution",
    "thumbnail": "data:image\/gif;base64,R0lGODlhZACqAPYAAGFhT2lnVWpqWnl2Y318aoF\/a4SCboWEcoqGcoeIdouJdY2LeZKPe5SRfZqU\r\nfpaUgpmWgpWYg5yahp6ciaGchaKei5+gi6SijamkjaakkammkqeolKyqla6smbKslrGumq+wnLWw\r\nl7Synbq0nr25nra0obq2ora4o725pL68qcK7ncK8pcK+qci\/qL7AqcXAps3DpcXCrMrErc3IrtfH\r\npdTKp9DHrNPKrdjOrMbEscvGsc3JtM7MuNDHtNLMtdjPsNPOudbRttvTttXSu9rUvd7YveDWteDX\r\nuuLavejdv9fVwNvWwd3Zw9\/dyeDXwOPdxOnfw+Teyenfyebgxuvixubhy+vjy+7ozvDmy\/Hpzufl\r\n0Ozm0O7p0vDn0fLr0\/jv1fTu2Pbx1fry1PXx2fjx2wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\r\nAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5\r\nBAAAAAAALAAAAABkAKoAAAf+gDA1P0ZJhUmIUFCJio2KjElUiFSLlJJJilhQVJSbm52clpyOoZGi\r\no1BYoaOckaamjotQgkZHiLeYibmPmIuTlL2Kkqikn5GpraqUWJrIwp+Wx5\/Qq62slYo0NLW4x72M\r\nj6CunbHlw43kocqepKDTxqzVpqihjbRHtre+kI+Nv8GeokVTRS1VpWHqhFWrpmyhQ2jSsuEwgqTb\r\nPFeVfpGjNgVdPEVSQEKxsizTKUVWsCSRcsqhyykLAVKBMbHikXC3ngRL8gTKkycdRcYK2rNRSClH\r\nQ6IThhQKUilRkjZlOQXmqiksqUyJAoWrQ4KzagipWJEnpZ9QphT9yZZJE7b+T5Q+ifKkiV2fTp\/O\r\nnes0KsuuUN9GGQzSCVSoVbBmnaeVLt2QqyImqYFjLJKKOtOh4ukTKMi4jYKqVetoqlORR7kSzvv0\r\naNcqnJAuC0XaJ+RqmzTRpIhryiRcw355\/L1qKW6XC5eaKw5tU9WWq5QlgSEkklUqWbJg0Y49CxVV\r\n3nNbucIp+\/Zm35mlxyJFPZWUzFSp584MfhYr8FOO5wQfi\/79\/jVUXCg0qEBCCDXA8MMMJLxAAgwk\r\n3OCgEDDAsMIPWBwBg4ObHCjhCEdkIYQNFvqwggomnKgCEVj8cGILP\/gQwgo2rCAEFj20QAQQNoTA\r\nQo4kDOGDDzKo4iIJK\/j+gKQMMAyhgg8qCCgPDgwYMIACISDwQgMYMBBCCBgogIEDFLzAgAdieMAB\r\nASFg5wEFGCCwwA9ZzIABCg5gUIEGFXhQAQYefNECBR7IwIAJH3zQQgUjCHrmAytw4KcHeWZw5hNW\r\n+MAAAxos6kALHMhQgQIOeIdcDQ68EMIIrKoawgVfxhBCDBuGoIEMWQSBQghEVHGFhTKQEKoVTpjA\r\ngg8stKBDCyaMQAIRma6ggw4ytNCDDCqsAIQVQwDBwrI9+LAsEMuyYIIPVRDRQwzKtrBCCy3IsAML\r\nRqjUECIqUSFWEVpNcQVM\/lZD0n6bjFcVTPiNRxIVV5B0BXsJNyyFFV3++KpwF11IsUUVGGOcMMVb\r\nYBFyF1ZM\/DEWJDd8xcPfMYbQvhX5djBCnFgFsEPXTRNSUFA8jMUVT\/FXchVVSEGyX\/gVLQXRUSg9\r\nMdEslRwFJ1O3koSUw9QQxFhsHew1wF735FVVnm2VGFKDQbVFpizEoAMUXCA22NRLox100UVrIdvT\r\nJSNWxWBUZPWdPKvA\/PVzz\/X7XBKHex3K1IPhZ4ICBSxwAAIKfBD4VO1N\/NQWS5fcd8mg+4VUFVbA\r\nBjUVXrkUSQ1GFOJbEuQht1BDWAtNhQMISKAAAwhsykADTrDHzFPMdAH606BXsbboqQ+N+tLvJZ0e\r\n4ZzMwNvitruUOzL+3\/HegAYKQKABBAxU8IADT7DXnvFGQ6X3\/Khb0XRregcOG1KpZ6WMgJHQHhJm\r\nRzPb5a4hWYFCFkYAgAY4oAEFUEAFGEABDlQgABqIz\/uQkrGn\/G1pRKsf1Jz2t6jsr3v6GotvrkA7\r\nFIaidrZDSgEOYAAKQAADIUiUAhpggAUQoAddQBlS2KM8jYUOhCYbGn5OFzXY4OeAoahBEYowOxbe\r\njhPbCYUVrLKw8uiHCl9gwQMkkIAEvMAKgIrCBxYgAQg4QANfeOIXgvgU5dUveqnbAskSNjEtUGJg\r\nJHFPKaJYhAFWBYZWMdXgVrGwLoYCdUx4wggeMIEJ+sALP9iBF1j+IIEJcOACFegCEJ2wAqSAroNb\r\nAF3SkqaxJZJME7BkiHyiQwhEXAeF\/9piCEkyBStcYFMOUEAPVjBGA1wABfPqABFisEYCVNIJBfjA\r\nCgYQSr09hXSr\/JgrjTe4WaojOkm4ARVltoqVhYI7A2Ma0ZY4GGrtYAc6qEILFnCBBWSAByjoAANQ\r\nEAX0CeAAFdhCDGTgBCUoQW9RSSV+FAo9K2ghY0FMSSrko4r2LLIaUhwg4xaiSP8IjSSqE9wV7rOy\r\nKxCBAQ+QZgWoIAMgMLMCRCifCbxwhVR2UApaOGUSi\/ix1sBScFhUhSm8KU5D3vKiDHlk02AjMEp4\r\nwQMQkIEJICD+gRRJoJM+4IACopCxohXRlKckmecqFj2jZaybWPyOSZBKha0NkGYCgqF+fOUrKhBN\r\nC7BpmCoShgQFXAACFdDnAypQAXsqYKYmW15Ow2o0K6wtY46dGETVU1H2zCat1fhBERh31LQywzv6\r\nWdr9onI\/u+JnblvQwQIakAENZKACHMgABArQgS40zXRawOs666ZbyLpSj53jZnw8uxDNvhUmLEPq\r\nLJX2tw\/iNG1PgdwWgMCAAiRAAg9YQHZNYE35dfeO09PbKVUZ2bX5533RwWJACGnI7ikjYaDT7Tq1\r\n0FCLGW0LLcgAKCvAAq62MpV6TGUSPwZg3yqNYhPjpmfbYxD+QWp2o7ekbDfvs8TUrbN\/+vGPExPm\r\nBS90TKyt5OPG6Lu2Ei9xvAnb4yuFq1ZYGmQVxn0OeVZmqo7udYlEsytegdaf+CTMtKETcMfMqjET\r\nK8+xJdujEj32xA0qF6nhLKTNGGYKRS4SvtHL8Vyk4IQj\/MQJPokCE6qwZSYMxglOoIthfsJlnD4v\r\nfsANcPM4aLTjWbSbuaNCjJGTxY\/SNYTOo24lP1CBDGAAAh+QAAdMoAE1beEDGvBkokrAARaIoAQa\r\n6IAEVpAxPSL4vqY0ovIg2mOLSmmWP7jMwWpHHkVq58acEOEWtDAEDnBAA8tagQmWJAOprqAHVvjW\r\nu+AFrx\/+DZMFPxIrkpdI5Ao7toN0tCzupBSEcR4SuVoBT\/USRjQB01e3Qmwsezj2hMCJDmVaIK3d\r\ntsAFLsxaofcFnSrlzUc616c\/mP0fIcb5L4S9pzzveR63N4bTLHdhBRqQggbEJQHYcgADEsDAA3Sw\r\nBAggOqUlGKxiJyZgEOJV3htLGH0bS7SMwdI98kFEtYvQBLAlZgovD0XdmHaYEg4GdUtoQRR8EIQn\r\n9KAHQRASEHqggx44AV5KaIFBf748vwE6hDhFW\/8O0xqWEAR3QdWsjEuqMhrXND8Ev2sV8KrbVD60\r\nxB7WIxc8\/OG2K+\/dcnZsgYucUxID2KZBHK6EW9aiIWj+doqFLAIT0OwEJAz+J0coQluW8IRINr4J\r\ng2kCE7oCl8YPHs1PIPwSNt+EJRj086D3vEE3b1AgDEEJQAD9EIYQdNYHgQieFWooKCTNeLnrBbhf\r\ngYVWgCTe6xoFK9C1CVKUAhSYQFkxeMG1llUt28tgBb221s97kKwWILvYyap+0pEu\/aK\/8+dAUFbR\r\ndZADawkyqJz4gRMubIUs0Dg75jFPfa7gsZpewXn37zZ8PIYyiyE4vrmVW1EXgA+lMfMTFSQWgA6l\r\nUKgzavCDdZwgBEOABMWBOoyERQ6DNxaWYyHEYxoDBSwCUR7mBeyxeUghgANYdziVU6Y0P6ejN0uk\r\nBFH+ADqbtwRWR1HVUARgEnxZoCYesG0UpR8NM3arRDT5Vz96NAQMsAIjoAEf4AFP2AJOkGklEAUE\r\nOD8uSGcdV3C5FUJRUAEfkANW4CeDdWdBdTVJIAQ\/MAIesAIs9S7Vwx9yiEf6M3ZHuDHs5wQ+0AND\r\n1wI8oAMy6ASbZzorCF0BaETpZoV2I1pRoATI1ojE5j\/\/EwpBgATtpx1Z0GHZ0QXwB38fdncYc3d6\r\n5AVc0DFf8AUd5gVg0AVgUIodM2sQhTGLlVtC1mkCJopjp0dgsAUdBgZfwGCBM0uqoIY3EARAAAQ\/\r\nEAQ+8AMxMiTL6ANCwHNA5wPHWI070HrH2C2rFwT+QUcEROAERDB6NQgEnkeOqId65Ch6oKd6PrB6\r\nq1eNQzJ9yEhcwYEFFBICORAD8EQtOfBO\/ugDOzAD+0h+OVCQBmmQOuA25Ect0\/JO4gJP4fJz01KQ\r\nRWd9LJADOUJ9xjYt4PeHO8CH+wiQOgCRMuAD\/3ZFPfcaOcZ1LHkFWkB\/XECL7BaTd+duNIl3W1BT\r\n7oYxV9BuNoWTs7ZYPzlr7naFudUw+JFTXUBTgfQ\/DTEW67dtQlM\/29ZLf\/Z0gIaHRhhySaRKqENf\r\nDrWCueUX8TVrfHRbKxg6EXNHgYRFV8MJ1SY273FH9xeHvhIF5rRUgCZfqPN0RZZHWelQ+HFTYrn+\r\nMSHnUN8WgEUTchyYY180OJEwjEWAeYhRFbyUNE70NzBHNE3wdDB3W3wpQh+0SyHEglF3gs4DNWZZ\r\nQtZEc6M1N+QhIP8TBGCGMPtBUgZDUvc3hCGklS\/5mzWFOiDXf3cHXwRXd7T4UBwjd6MWgKnkPIOZ\r\nk1vAOj+GDAIiBFP0ZVAAeJa5MhSoFqkTnFXQeW7heUxweee5BHPTKyFRBZEkBZ6HFE6AKTmlBJ3X\r\nBErgeVHQA1FQUD+3A1GgnmYGOo3Xjk8ABIPBL\/DxTREYBAtgKxZ0ASBgAS5gAUSQBSIwAhzwACfg\r\nK0OAAlxQBUNwARmQARsgAg+QcRrAADkgAif+kCIQQAQf0AETsAMdUAHaUgIscAFLkFPH1wEsMAEg\r\n0AMVsAQL8AHINgEmwAAgsAIfsAFAsDEVYAKEVQElcFUTIFeasEhCIAQRgAEcEAIdAAIo0AAjcAFD\r\n4AUu+kkgqgUogABMcAUjaqIdUAIRcGk+IAE7kAI5YHxT+gEigKOMtgJKMHwc8AFL4AUloJEakGkc\r\ngAIZ8AH8VAKLkgIskAIlEKVVIAHe8gHDNwIVUCoAtApdKgSJwQRTwHJDEKepowVFkBhaMAVawARL\r\n0ARXYBcsNwV2MWaJMRha0BNFYz9bgClboJ62tQTr51jqqQRbYBd0QR5zsQVW6KuQBxVP4Dz+qWRC\r\n3DE42VEKKqSXV8ADL8ADIjAEIxACbjoEMTAEOcADIVoCSiABLoACLFAFO4ACKXABJdBaH6CjyvQE\r\nJhAFwactRJepOtABHZAC\/YpsH9AFKPABlQYGMzqjLHACJ7ADEzAtwzdmvIVWq\/BqQuB4B5MFwwcC\r\nEbABO\/AATTABGSACT6BpXLAEDVChINABF6AEl5YCFpADY8SvC6ADTwBphFYBAqsBHBCokLoonvoB\r\nE6AFiAKGYGACtGWlLMBfCpACOuCEQ6A3IURcWTBUaUhFWtQw1XYDMxAEZ0sErnev+DkEOzAES4AC\r\nW1sFOcAEcKsD1HiMgCgF3+IDy1qORef+eTlHeja4BEBABGNGjdTIA2\/7tpHEBEWQk3fUZ+eEHUkg\r\nIkjwEzC3MFzXfiXlfryYi4vFBfknnY7Vbl3gkw\/1dgs1aqEIYMgJu1pQlLkVk0WJU0eIH9eRHZfr\r\nCl\/LNVFQFS8Hc8J7WjVTQiHUBLr1mVAXXVFgYTUHFc\/bvOqGU05zOlaYbjSHV5hphyOFHenRu5cr\r\nBECxub30MQ0jNEN4hEcodh93VwK4ULSIZGAJYGK5gu+WU2OXbl0oXl9ZP7EKQ3wnBpe7HVLmLwET\r\nMFpBBQGsTYjZl7rVMO+rBTqAbBacLL+na\/Xahf8LNWRnmGH5bdmrW9xmYfixSIJkj5f+Ub4AE6ta\r\n0W\/nu0sbOJ6AZkI1\/EFRYT+31ZdJI19dWDJcmzeJmG6hgzfcezp7d1FTJLyHtDL+0rlIqbsXVgXt\r\n5ivP2b0ghIfjkVgWtlhu9lzRY3cdTItEaIRJOTCYRarHxXUM08YM8y9DKHJGOAQ8QMVRAARM8HY0\r\n6TFesDFMoDEBmkqoS8U7mZwak5r0RYTYJJxRvKDKwB3ekQWFVL4wDMMveb4fA2hWAAYcEAHItLIl\r\nIAIuIAIZ8KLuogMloANekAEt0AUsAKQfQH38NXwowAEHlb1iB799I1\/3x20Tc1GUi53lqzixeskM\r\nY5UG83RccAIgMAJ1iwJAkLDMbHz+w7cDJRADUHCpTdADOaBrPGAuQDB8OQACPKBb1ntXQOxmz2PG\r\n2iSM0XHAM8YJJdXGnUtfsiqYiSGn+0vFtbuTXsAxhkky9LWUqMtutfvBRYaHYDm\/IgSWJ6x31\/Md\r\nKpQ45IHAT5xLucTARANzuTUenCl2nanRZkk6Y+c5Cz12VojO\/IuVMgxeeEQS24rChWRUseo1R2mZ\r\nx9yXe7m5oTmeUWAXzTU3HmRH4QWaf\/ab+\/tt3Xa+mMxUAmwqqnDAsvrGbaxInVvCHe1QYwe\/W0AE\r\nHTACGVoCIwB8A2suPrBHZifES6OYvtKFKTgeR4kfXVfV34S5XzPP5uTECBzH8Fv+mvvcm7spnTWV\r\nUyCjUApNdrr1kltdxut02InpR5XbCpE8RS0Xqy131\/3ixB+NOlZpF3jVmYttc3ZVmiA0vf0zxNrL\r\n0n3NvZy9mVsUMJEcyZY706vWkiyZBb2kMo\/NwYl9f5J7l\/\/CwF9XMXg4Yjb3dnblkrLKv4r5kivz\r\nku3mxN\/brd1KEVNQJxhwtlRUHan6LzNwA4cEePa5epA7BOPJBCHQeDHgAjFgAihQBVEbAR2wBEyw\r\nAogLBKxTAUPABVHAASCw3iZQBHgcok3gAi+wBS9gApvHBUOgATNQBEGgBFPEBEogBOb0sYggyYqn\r\nBTNgARtgARMqoRzQAE+wA2D+6gAncAUf7uEbEAERYAEgHgYuYKJc0ATNnAH2pANcsAMKUAKY5oQ0\r\nGgVBIAEocKsX8AAIO6ORKgVFYAEcYN4csK8bEAUmzuIgsAET6gAhMGOsZrlJUEixGgQu0ARDUATX\r\nOEU1UBXVFgRxqgTuSMc8sHpF8C92S2ZwS+ZLsAP3F0mGS99MQAS25eZ\/Y3pDQAT0fcdEwAWGrryg\r\nR2bnqQSoOgWQK7Yw1GoFPEUggARZEAZIQEWQnB2ahQJUMOckZRdXYJ8vmQUxcAIxMHZvEd08MAND\r\nABT015NX4AVv28cMPgRggFcz2DRTkAMv2QREkFumh1dT8AI7wAVTsHq+ctH+VC3bRlAEDdDMXzIC\r\nGCACG8ABMzADYNLkPBACGTqmGVrKIHDlwZ4AF3ACG+ACzQwCM7ABTODuLsADTZABXz0CmoavcjsB\r\nifKkhWZrLRvKIEDKFsADLrABGxACEwArsOJabYJtAMcJU7QBJEACLjADOTADLtDx3BgDJFAEI3AC\r\nsn7ujMu4BYnwLkAEJ5CpHN+uOdAEJ8\/xsv5O5LcDMdAEQJADjqgD3rIBOsADORD0Q9ABHADzMWC3\r\nO1CQ+igkbpMDLoBcLWRF2CFlYTBSVREGVx8G170yXJ8dDdNL+80DRTAGXAAG9toErdhubH96bD8F\r\n\/1wFULCUtx5JpAgGqoj+V+2G90oQk\/D9z0zQYbceBh1GumCA91cvz1RWY0UgBBg\/BUIQpjPwA8l+\r\ntjEQAwxi4DtQBeHuAlrQAEdf71wQATvQ8QbuAkzQojGAAlBf+ihAzarsA4BqLB9ALTGQAlS86huQ\r\nApgqAjswBRzwAiiA4GMNfFXwAiWAAkEg3RPvHVME4zwQBM1MoVcAAi5AAjEgAiFg\/SAwBE1AAh3A\r\nA09gsdvu+RfQAdtey92PTzsA4vguAvhaAh3wAT4QBfiqAYH61TEwASWgBTGQsICwUVICAlJ1wgGy\r\nFdNRoiGyVcLBMTM1dXVFdZVE1UklhFTUdGl5dal5lZWFyRRUdWWlVaX+RXulNco0O2trxWXVZIWZ\r\nFXYVRUv1xGXstSvLpdTExaW7pDVdVcW1Jf1axcT0dEXcmZSZ6VmEpH7FVHTlUjQVhEQ1ZTT19LKz\r\nM4RfVRRES5AgLoKI4IeiSRF+RJjEyMVjRxEiIqJA+YWiRZUVK54M4XIChAgg\/JQw4ZLhRBMeIoYs\r\nKdLuyqsPF0IMMVLu3JQsVLIkyVKkiAMLGxxsCHFByJQTDprsaLDBQoYLIohe0HKiARgQGTqA6GAB\r\nhAUOEThsABFhQ5McFkaMlWTyQgYgTy58qKBBS44EF1wsyCCIy9cNGzp0aDCpQy4uOzrEkCAhXCee\r\nPSsDbDDjxoYZSIL+WBISb8qMgUGGDGHiwoUVJR9P7CBCRImSoEs4PGxiekoTaEOaENHIjkkUK0u+\r\nVVOyg4cS5UuOQ8O9pDeTJVO0XHnyhIlLKlasUKbc6R4SU0FUXRk\/zJSwLB5nMJnR5AoX6th48PAl\r\na0qsHEzim9qxyhVQVBHFKzoYo4UxVGQTBTT3VdFEE1VM8dEO4bRTxRDZ8FPFRVZ4kgl4RcyAgQiE\r\nbYBICC4gNY8FJIwgUgcZDOGCBRc0IQIILgxRiAUxDJEjVRmAcIIVKYQwQxUZRKHDByWEgEIFH0xi\r\ngpOFdZCCEhNMIoJhRIGAgWEVjEATEVeIwEEGHJhzjic8AaRiaiT+5LDDDDOk5lkQRQyxQ2ruMZED\r\nD7jx0NsOObgAzT5ADJEDnRlyyAKTKQCxxA469KCDDvvwkAML9jWRQqBAgLApD4uekMGmKEzhQxD7\r\nmOMJFT91Eg8mYWgyTBZIhMGTOONpEUaw8kyRixZFjDHKGE80kYU01nmBSTTByteFmV1so4UXYGg7\r\nChjPcKGFt1rIBsYWMk1hbjZcMCOTFWF40Yk5WPQ0axFGkEAQCVfcOcNmUwgBD49V8ODCnRvYJ4IL\r\nI8RwgmsbFMFDDPyEwB8KL4hg8Q5gDBGCDCmkoAMXQ8TAQmNK6JBCCSWnoDHDLpzAQxQHNcFCDCOg\r\nQALJKFg8Raz+5FCGhBAOgHBWEYSd4MIGUyQ9Qw4bMMEDioXYF9YJghBpARMndOBCEyHxmcIkHMDM\r\nQyMlmOAaEBqckEIHS5jQgQkcfJwCoSlYvQOOyu0skgsciFDCCCEAw12IP\/kU2iXWXXJeeZpwobh8\r\nt1TXhBZTSFMduIpPgwk2r2ixRXacV9HFdZhcsYUWVOwQhTLZQIitubJssU3nltDCxek++9TTPUEF\r\nNQWSQeQwBRJT7KBnhEoEdEI8JxDEAxO3aBeDPFC7MnIOK0zhBQqi\/CjDaWZ6Q8QUD1UBBMjQaccE\r\nEfv4ABMRfHLhQgwjelZPZfPOmgQSM4RggRAQhgMXaEBqwhL+lg2kRiw7EEtYiEa0IrigA4URixJc\r\nkAEXlO0EFTBBFFAAgr+JwAQluEAJ+CSBElAQCCVICdEuECjAfOUEgxDBB86iBMIg0AW98gQWvpOO\r\noAShHUZAjhCEoCdRwKQdQwwCoWQDGle1zyS74QITTKIdaETnCUWAhnCW9QQZaGdZvWlCc3ajBC0Y\r\nyoy+WUIUotCfIvxjIK0IQogqI6vJIMEIz8MEFXilCvMcL0KnS4XlbHES7WAid1fwQvuigQ1iPGEH\r\nXliFD7bhAxnIBwxF8AEXiAAEY4DLGrKwji2sMUYrnCYMSriEKjQRLzeFZwoNMGAANyCCJ5AASlZI\r\nBJFOoIX+sxSCSMLUEROIxIESoEkSIRnbExJxAhNU4QMdcNIEItVCHdSmAyjogKmI5IJBNEwLTJiA\r\nidAmAg1UoV88CIIFYGmOnnkiFBqEQWpcQDw77eAKQABCwSpBkNTUCVGpSZQSgNAoPvEjOTyYAhA4\r\ntQMtDMEH\/MiBD6qwj1HsgAU6YIFTYHa3iOxDjUvIgQ58MIQX7AZRRdBXLNv0k3isI1jBesKubnW5\r\naV1BCFwIgzR+Wh1iZIgImvMWF8pVhW1IAwxSYIIXhkCEAh0VDNHQRn+aYIwx0MKo2RgXGJaghCqM\r\nIRs+DYPxThFLeolmMy+onwte8AIQvIAEJKjTC2Jwng3+xOBuqaGfjuAxBQ7wIAUxeNkKUsBRFHT0\r\nCVDwgQlYQIYMfOADLGCBDFiAghxUrgMaYIEScpACfDZKQjvYGRg+8IAdxAAFG10BC0zwhO5wJ1aI\r\nCwIIZoAIDpCAaycQAQZGgDQYEQsEKDDRWfxKmIieYAhbi0EOSqBYFJhgr+QsLg+8oIEPmGC7jdiu\r\n9OQW2hSAoG0qHEIUBpEDLrQNBZRFAQdYcIETSEYTHxLRFGp1Ou+MAxPV6ZUVsnG7aNDCOlvABuis\r\n4YVSbgGOUrjCtWohC\/n8tAvTwNaBaSEha0yDFlWAFupody3dwSqWRRBCWODhniQEoRKryAKS9BOP\r\nEfj+wAV1il5A2DEE1mZoCR55gg6y8wQgmIAuwnHCdL4x1Cg84aAuaQKlKreDEyxhLVV4SPtOU4WG\r\nsK8IwfBZrOzVgC9Z4AQW6IAIqleFLHylA09IoJkFcRYLJAQEE5DEBDaQAyBMgJobmOzZ1BRCamYg\r\nAyfsygXW9gHAAHoDS2hEBy6wgSq0UALu1QARqlmBCmRgArHFgqfndceg2IkHv5vIDOT4IT31wyVD\r\nYM0SYqME9xEBQrE+KK2nXJwrym\/K4DBjb6qgAxREwY2xmbJs0nhsl1SBNaEcNoGmaJLudGdePksH\r\nElq8imCY4hTseYIXoOWFHXR1CNtInWkqJw0JfZX+klvoQhccSQQwyGcLU\/BWsYjQhR4sAQwQwt2A\r\nswUGLXQBCvwewld10IUl6MALOpACFj70ISz4sR7uvO1ZSLCjC3DAzCEYAV1FgLElXEAkHOhmCkSQ\r\ngxCsrQM02kCVJuvBZFZpByvQgNxGkDK0fUAHOYibCTLAsmQ2DEswnywKGl0CP2cALx54wqe9TAV6\r\nviDHKBjBDoIXgxjI4K4Ey0Fhl8DaEwRKByKYUaM6tRwdDHajMdACZTuqhB6Y4GMt4KgSMKtvT1X2\r\noCwQr2f7joLK8jwKKTABD1gwkhygIAYNtsK8PM0TxDGukVmwxA6CVflcTSt3n+TCGNa1LCuq6xn+\r\nu5myTFoHhtRvYd9kSH3qw6Xk1HehXFF4fROoGi7Xa6EXzEgqEJhABm9sQbbUjpWKRbACFKyABG2V\r\nswo88IIZrCD6RaDYyBSoUug6NwRSXgILntaBCYxABo\/tAUdXEIUP1P1umFXZIIDQUR0ooQN0OrwS\r\n2NZ3OtGsBUJGgZA14APv5QWy5XjFxx4+sDNVVwJIgwEcoAHENQKJsAFBQAKuYTN2kUPd5BUfAAQ9\r\ncDYfVE0mICUsQE0aYH4c8AEooEIlNwiNMAFw0wQqNF4bwFFdsYAlAHZnEwM3V3JxQ4BQhwRPcAmv\r\nwF\/B0B2FJA7SIBPZoFTW4HtW0AX\/lSAFRjv+VdgdtMMF1wIEUgAG1zJ8UdACOiBgpTRgo+QsFCYT\r\nCfYESgYvVTAvEYdHUfdMVndfeCUPLzAFKHADxfMvoEEh\/NAO0ZMLwqEEy6Jvq8F\/UkAgTuAEJqAD\r\n4NBPjLgEC\/Y2S6YDBKIFjwUETdADSsAkKyAFjlgcO7AEQGAFOrAALJAL0vYhVFB8clhAaHIBFzAF\r\nGnABPhCABFQnGicBY8MBNgIYidAEQ6ImTcABE6AExRV+QMAC2UVNjiYJGiABUbACjTBNkvABmagE\r\nMsgVaxMFUiKCLTQBpPgAHSABOyBtP0RbUccE+zAEQTEExpILVzBR5WMFM4AC36AdQ6Ac55b+IbLh\r\nRkCgBG7kEp6oZFfkicbRHJ74BGBFHAPpHGAFkM0BRwjZHG50UNqRVLLlinEYhEXwBM2SBWOwA1QQ\r\nAy\/gA1nwbamACaWDOv\/2ki85fFbobl5YkzaZhe5WhV0gcNJQhSD2k0G5k7BwLbkTh7uTBDNwASMQ\r\ngSgQArk0AgnAASsgOCYQArq4hP\/lOZ5jBQWiiN2xkdjwX1egiFJglqXElRxWBbFAC29kYLogBQuy\r\nlZ5TIKgwGT3xSp0QCjujdaX1Au+hfCQTAz6AWSagEWKJDVOwlZUzHAnSHVJgDFC4BVJwYFYollYg\r\nBZMpBb5glsbwRrdgYF1ZILZQllqgiBP+kgpeRhnxUDhFAAVf4GHfdgmV9G1YIG9VsCyLJBOruG9Y\r\nRTsItmRMAAXagB3NcRrvFlszySTasAUREnDW4G4EMoBa8AQddi1W0G5dUHmy5DNB+ARbQJUUswMy\r\nED4SswNAkElMQAUrUATBhgI8oCkpEAU7oDImkANiJwU6AH\/kJgEX8IifJAEVsANO8ohhSJlb4AQQ\r\nIJDnxVqmGIbo2U9RIGQxoClKcAXnKQOV0CZ3qZdOUJ1AIAEZkE4igHg7MwJW2QERNRIt0E1\/owEc\r\nwBobwAEtMAlA4AQdBAIsME2C0AINogEasALb9QHoZ5+ZuQQaAF3p93Mp0AQbaALsVSn+chM3LAAS\r\nRyEC8vQdX\/YE8VIFPiAfAWIF1Ykr1xAFqFA7BUYLlHmd2TmAmakNyICZs2Ca7PKYQNluCwY6SRUF\r\n14k6nOMFRKAJw5df6zhPSIBSQxBGIoBEenIDMkAFHkA9RQCAsCU\/pwEEDfFBORAFjBhrbtSJpfgE\r\nRHCJOmACTNADK+ADTBCKRLBkSuAElAJWjiihSjACRLAEPZCqdPGqpqEE8GMa8QIentA\/QqBxMtIB\r\nkxACIBACXTEEBDQBGbAEFUAEz2oYMARpE\/CsD8ACIFABg4AXL5ppGkB\/JvCAeCEjmPUBPzpoGjAB\r\nEOAkGlAY2moC2ComFcADGfCiaZL+aRXAaa3YiloqCtkBDsKBD+3oA9jRDlwUBbZKHWElkWAVM8O2\r\nBE5QkBAJSoT4Ni0AVoxIsQI5KvqGkcd2kQsJVlIwsUuQAhPbkFE1W49XfEE4BDJgLtyRBUZoOlng\r\naV7AKk4gqlLwXyVjHzIAha7qbl4AmV3wBFLwbkOQn8NBkTW5pxT2k14olEAZhbRzhd1ROrPVkd0p\r\nBIkBMiL6AUxpAi9QAjYDBCtAolAgF0OmBRHwADSUCDPqfyxwNq9FlTpAlUogWSuQdN5HCBqggi0g\r\nbZlJmW8EmaU5l1\/ZmVJwCv\/anUigdVN3d4M5A\/uAPCmgAe25A+BAMvr3JKHSKfL+2QNA0AItoATV\r\nCH+l1aMdhSkrEHcsEIale4mpc5azcLtRYJZJ5bPDwQWdqZlr2QmeFitQEIRD+I5UAAZWAAZUkIW5\r\n4wQOtgpFULTe4CxAiZm114VM8gTXgrQC+QVRoC3vdi1J6wS0UyBMBZlRkDpeCJkN6QTVEAU+sJmr\r\nt6cc6UPo8ASc8AQVgAHkaQWnKgO4OMADbAUr4AE+0AMbdRDmRScssARd0AIeAH8RXAIcsW8swAG1\r\nGgIt4ANAMAJA4AXp2gNfAAQVsAKo+1gsIAVO0Il35wRRwAAUMAReoAQaEAWlOwIeLLyvqL+dwAQe\r\nkIIr4AVUyZRBKl0tgAXKRwL+HLBdL6pZLsQCVuABVcwBprjDItAD+WYCIsCUI+ABHNECXtCMLSAF\r\nQGBDkpWCJTCQGaCCI9EFjsBjTjC22uW3IdC1UJcOSdAzVuAFPuCKxAuFXvBpmOCzldc5EyIhmBmF\r\nSuuzmOlwZam7XWCWhrt7iqi7p2m4ZtkEk6m7uvubX1mnievIUIAFUFBtU3BoRLAnrUAEPoAFRGAC\r\nUhAEMbAC8+IEOgAbrLUEGCUC0RMdHiqJiOoEkJmMYGCYLaBvpjmxmblkSstCGitwlXWRd9fJymyy\r\nJjux8buplfyGnYDKVBAPDCABP4oUTpwBDakBVewIpYGCUcACvTUBD8UBzSr+pE6SdCXQAitgBVVS\r\nAluRMvkspJUlXiPRA8nkNqEoI4SWdCawBSREaFvggGniAReMmT6MysaLBPwgCk0wAkogBUFmstiR\r\nHTEcqm80kEQQITwQHTwGR7iWw2lkRpN4bBAZv24kC5uatFs4ZVEQIQI5sbKxehdpBf3UHE4Qd6c8\r\nvF6WDnjVjuchA1\/wY12ABSEWDJPpBNiZO7IwC1zgG+7GY9dSOQWGmaaokzeZnVvwVUrQBZ7Yye2G\r\nVQkXwZMJYm50vl0Ahi1QzHFpBeEcuQ34N1WnXQBYxSuwwShYJVXnxfkINyAAXRqgsYK7AuOVoyPR\r\nxSTkfS93wZT1Nh3QAy3+8AEY8wFK8HOEQE3StAROQq7JqDJaMAHlqAOnLNumHCvqkHWZdEI+kCm3\r\nCsKCy1qa4gONYijzCVol41lOkBGyW3cskAEnY34e1SnPfaotQDMQrATLDcGV9VqYxX9LoDKvhdSP\r\n9TaUdbAQB85aCj+502Fe8G5ScARM9QSMWAXb0gUL4m3DuQ147W1R2ASzR50Jst7ey5P93YVkUJPt\r\n1oXu1slkkJkCF1aTLHvn+8lcSMlmSQWorNTh7JoOcAEcAQM7WHc2AIAsQAQ9YAOGOd0mQAJAkHWq\r\ntQNk0gMuTAH9xAIy1gMT1QNBIMFSsI098NnKfN2lq9dLANpE7lqoO9r+dxe722i3QEB+NO50UgAF\r\nphyXUy7OSIABKu4BI+AAHBDGPtBxTWcCKzDEI+BaNmO3HFABPnCiFXCqX9wCKsACQbrlJjAE6ue3\r\nLOABdjtZapt0dad+N0yCZ7NdfNsDTjJZ2tXFjvABHgAFPuuKVg7O6oCb8nGPEUzJOqmZN+luPuAE\r\nXrAFQhADVDAcD+ezjoyZk1nDLXwtZuluoFPhnRnrhqu7CeLTZtkDpvlGu667uKm7VOBwtP3oUYcE\r\nMoCqQnAasisFQxAEToAFDmfmLcCqpwoOC8ECJv0EQbAEZjkEZjwcqdvCuhvUm9ocn82FS5AB5tcD\r\nw2aWwtYEToC6Jqv+BebXowdp10QA6abs1\/reGRDgCCZUASfwo+mqGG+UaDRKx+mEr1NxAeYHAdy6\r\njcn0o0oAAi8KAeb3ANTUBC1wTemqAU6mreGHrXfnxl3xjBXQgRVgGNklIw5YAWbMHcWHylIOktnh\r\n00r2RhECR\/ERIRtPbrLRavIjG2akb544kAC5Gsc2bNfdAng606UoBaVb02jU0xNZzf3kElfUPjJA\r\nBB8Slxd+4aesDvTwAt3gA6j6X1uKLt0rBRoRd9DieAsmmVq5BZHiBfH76kMABOXS1pDpWQInBRDs\r\nblJwexu\/7lVQuu7GAwLHk8P3bgdlBTJAOvjbCZEszrU4CematpP+FTeCCzceoHxD1gEecMUtYEOL\r\n7gGXyL4PkNojwE0cFTfsReYiMIwaAK3DSE2DsF3o\/gCBrzJDWk2q3QFRMAQrkAHB5oBNp9RLbeVF\r\nkAQUtQMvkLIkwSn9dJ4s4OM8sO4IhU0pANoogCmh1JUg0AQrHHjX3SnYT80l8Nn6xv6V9dw5KH+e\r\nglikWlmuNdrSxQR6W3gW\/vXnDQhUSEgyQU9cT1VdWUVdTlBcXl1dYIg9S5NRTFZfUVFOV0RORJNd\r\nXqeSpV5bPVJdUk2UpWBaWpNkUVKpXVZglL6pUFunW11XplZSUlTMy1BSUEhPDzIgLyMjKygmVBca\r\nLTImMiw9VhX+GkArOj49LUAtIl4VDx9AOuMt7Z4mLEAsCU20sCjRgly7HhpYbFHCYqASHS2UbAHy\r\njgXEFkNa6NCxw4cMHyZaSMHCrNkyZkWmeIgRQ8SJEhw6sFhiogTMER9KrKiywsQHESw+COXwgYWW\r\nEhRWZOjQQUOHDxwiTjCh4cO3KDWZWs1Ar4MTJRtacBibgYMWEBVAwKzQIUMFDhk0vCWKQQjJklCo\r\n5I2GBAqTKoADQ0skpYoULcqkREkG2IrjxNCUeTIMGXIuJZKjaNkixUm\/XK4UW\/HkRLGn01EwWnny\r\nxBPrJ5ChQCEpWxCS0lNKWvGCBUupZFYmWaniuPdIKcGXPXb+\/HgSFs7FXnEOXUxK9C7TeTEvVgx4\r\nsS+SkiEvPptKb9l59RqRBmVK7tUtiLDrIQOJoyFOOGNJ9soKluOP7TfeK9RZR+Akh3WBmDIHIpdY\r\ncq688koULLQg0itYzDYbNOlRwSFfSaT3BBY\/UODBCB5gkFQPJmDQQn\/JBUigf8hpdxx1BGbH4I4S\r\n9riFeBImA0YLBZzjxH\/IaXheSc1QcURftcmWYRJ6yRYaa9rxR6Bvx20ZYWIShhYmgjwyGGaZwplW\r\n2n9sjqRhbVVK8eQTeTlTZ2JIOtbfl64gKeF\/BB7nG4J\/mmlog2SSyeWhSLo5W4b\/zWaFh1AcwZps\r\nVkAxqV7+yvD34HKAKsMlcxiS1GaZjUZYyo56hsanj5A16qF5tX1YKZRw4iXgf+K50mplCLbZ6Jlh\r\nchnooVZw1iOYrhroZW+UZlhllUdYKlsUlFKRG2QzAudtjXj6GW6PhO5YnZjUeTpmaM3xQqZe0JoH\r\nDbWDoFenbg4qQxxwlIn5n7yh\/ethsw1ax2ygOqpaJmfAiXrSM3s9Qy+uHEIm3sX5fpovM5E6PDDB\r\n6CIK47o7doocw+FKzCmlshXxpL3pcdhrxtI2u1+G0JyHpHE3HvtlqrwwC27IDZO5zF3zxinEyzBL\r\n\/IzFT2ca2sfDLuOwlyGXzC7K7prsapYO6pWMhg+jB00ktUdAQWfTViYmsdWQmXTjzpUtCiy3yiT8\r\nLYadJncqbc1EiV4gADs=\r\n"
  },
  "status": 200
}

Get URL for thumbnail for object
GET id/7278b4840ef8b708f87625a5e6cc84d7/thumbnail
< 200
< Content-Type: application/json
{
  "status": 200,
  "thumbnail_url": "id\/7278b4840ef8b708f87625a5e6cc84d7\/thumbnail\/image"
}


Get thumbnail image for object
GET id/7278b4840ef8b708f87625a5e6cc84d7/thumbnail/image
< 200
< Content-Type: image/gif


--
Taxon names
The following is a section of resources related to taxonomic names
--

Get names that resemble this name (supports "did you mean" suggestions)
GET /name/Dobsonia andersoni/didyoumean
< 200
< Content-Type: application/json
{
  "status": 200,
  "names": [
    "Dobsonia anderseni"
  ]
}

Get information on a taxonomic name
GET /name/Philautus acutirostris
< 200
< Content-Type: application/json
{
  "status": 200,
  "url": "_design\/taxonName\/_view\/nameString?key=%22Philautus+acutirostris%22&include_docs=true",
  "clusters": [
    {
      "_id": "cluster\/622393",
      "_rev": "2-9b1268ba5ba8fad2cb620b8081ee2973",
      "type": "nameCluster",
      "names": [
        {
          "nomenclaturalCode": "ICZN",
          "id": "urn:lsid:organismnames.com:name:2634803",
          "nameComplete": "Philautus acutirostris",
          "genusPart": "Philautus",
          "specificEpithet": "acutirostris",
          "rankString": "species"
        },
        {
          "nomenclaturalCode": "ICZN",
          "id": "urn:lsid:organismnames.com:name:622393",
          "nameComplete": "Philautus acutirostris",
          "taxonAuthor": "(Peters 1867)",
          "genusPart": "Philautus",
          "specificEpithet": "acutirostris",
          "rankString": "species"
        }
      ],
      "nomenclaturalCode": "ICZN",
      "taxonAuthor": "(Peters 1867)",
      "nameComplete": "Philautus acutirostris",
      "genusPart": "Philautus",
      "specificEpithet": "acutirostris"
    }
  ]
}

Publications tagged with a taxon name, grouped by year
GET name/Apomys/publications
< 200
< Content-Type: application/json
{
  "status": 200,
  "url": "_design\/publication\/_view\/tags?startkey=%5B%22Apomys%22%5D&endkey=%5B%22Apomys%22%2C%7B%7D%5D&reduce=false",
  "years": {
    "1905": {
      "biostor\/79013": {
        "_id": "biostor\/79013",
        "_rev": "1-a2ce1d06b8d7e386e1b60d34dc9b8227",
        "author": [
          {
            "firstname": "Edgar A",
            "lastname": "Mearns",
            "name": "Edgar A Mearns"
          }
        ],
        "type": "article",
        "title": "Descriptions of new genera and species of mammals from the Philippine Islands",
        "journal": {
          "name": "Proceedings of The United States National Museum",
          "volume": "28",
          "issue": "1402",
          "pages": "425--460",
          "identifier": [
            {
              "type": "issn",
              "id": "0096-3801"
            }
          ]
        },
        "year": "1905",
        "link": [
          {
            "anchor": "LINK",
            "url": "http:\/\/biostor.org\/reference\/79013"
          },
          {
            "anchor": "LINK",
            "url": "http:\/\/www.biodiversitylibrary.org\/page\/15393041"
          }
        ],
        "identifier": [
          {
            "type": "biostor",
            "id": 79013
          },
          {
            "type": "bhl",
            "id": 15393041
          },
          {
            "type": "doi",
            "id": "10.5479\/si.00963801.1402.425"
          }
        ],
        "provenance": {
          "biostor": {
            "time": "2013-03-11T16:33:22+0000",
            "url": "http:\/\/biostor.org\/reference\/79013.json"
          }
        },
        "citation": "Edgar A Mearns (1905) Descriptions of new genera and species of mammals from the Philippine Islands. Proceedings of The United States National Museum, 28(1402): 425--460"
      }
    },
    "1942": {
      "biostor\/125890": {
        "_id": "biostor\/125890",
        "_rev": "2-b874fef8a0d5a06358fe94df2829e7a6",
        "author": [
          {
            "firstname": "Arthur J",
            "lastname": "Poole",
            "name": "Arthur J Poole"
          },
          {
            "firstname": "Viola S",
            "lastname": "Schantz",
            "name": "Viola S Schantz"
          }
        ],
        "type": "article",
        "title": "Catalog of the type specimens of mammals in the United States National Museum, including the biological surveys collection",
        "journal": {
          "name": "Bulletin - United States National Museum",
          "volume": "178",
          "pages": "1--705",
          "identifier": [
            {
              "type": "oclc",
              "id": 1284235
            }
          ]
        },
        "year": "1942",
        "link": [
          {
            "anchor": "LINK",
            "url": "http:\/\/biostor.org\/reference\/125890"
          },
          {
            "anchor": "LINK",
            "url": "http:\/\/www.biodiversitylibrary.org\/page\/7843026"
          }
        ],
        "identifier": [
          {
            "type": "biostor",
            "id": 125890
          },
          {
            "type": "bhl",
            "id": 7843026
          }
        ],
        "provenance": {
          "biostor": {
            "time": "2013-03-14T13:45:11+0000",
            "url": "http:\/\/biostor.org\/reference\/125890.json"
          }
        },
        "citation": "Arthur J Poole, Viola S Schantz (1942) Catalog of the type specimens of mammals in the United States National Museum, including the biological surveys collection. Bulletin - United States National Museum, 178: 1--705",
        "bhl_pages": [
          7843026,
          7843025,
          7843024,
          7843023,
          7843022,
          7843021,
          7843020,
          7843019,
          7843018,
          7843017,
          7843016,
          7843015,
          7843014,
          7843013,
          7843012,
          7843011,
          7843010,
          7843009,
          7843008,
          7842975,
          7842976,
          7842977,
          7842978,
          7842979,
          7842980,
          7842981,
          7842982,
          7842983,
          7842984,
          7842985,
          7842986,
          7842987,
          7842988,
          7842989,
          7842990,
          7842991,
          7842992,
          7842993,
          7842994,
          7842995,
          7842996,
          7842997,
          7842998,
          7842999,
          7843000,
          7843001,
          7843002,
          7843003,
          7843004,
          7843005,
          7843006,
          7843007,
          7843031,
          7843032,
          7843033,
          7843034,
          7843035,
          7843036,
          7843037,
          7843038,
          7843039,
          7843040,
          7843041,
          7843042,
          7843043,
          7843044,
          7843045,
          7843046,
          7843047,
          7843048,
          7843049,
          7843050,
          7843051,
          7843052,
          7843053,
          7843054,
          7843055,
          7843056,
          7843057,
          7843058,
          7843059,
          7843060,
          7843061,
          7843062,
          7843063,
          7843064,
          7843065,
          7843066,
          7843067,
          7843068,
          7843069,
          7843070,
          7843071,
          7843072,
          7843073,
          7843074,
          7843075,
          7843076,
          7843077,
          7843078,
          7843079,
          7843080,
          7843081,
          7843082,
          7843083,
          7843084,
          7843085,
          7843086,
          7843087,
          7843088,
          7843089,
          7843090,
          7843091,
          7843092,
          7843093,
          7843094,
          7843095,
          7843096,
          7843097,
          7843098,
          7843099,
          7843100,
          7843101,
          7843102,
          7843103,
          7843104,
          7843105,
          7843106,
          7843107,
          7843108,
          7843109,
          7843110,
          7843111,
          7843112,
          7843113,
          7843114,
          7843115,
          7843116,
          7843117,
          7843118,
          7843119,
          7843120,
          7843121,
          7843122,
          7843123,
          7843124,
          7843125,
          7843126,
          7843127,
          7843128,
          7843129,
          7843130,
          7843131,
          7843132,
          7843133,
          7843134,
          7843135,
          7843136,
          7843137,
          7843138,
          7843139,
          7843140,
          7843141,
          7843142,
          7843143,
          7843144,
          7843145,
          7843146,
          7843147,
          7843148,
          7843149,
          7843150,
          7843151,
          7843152,
          7843153,
          7843154,
          7843155,
          7843156,
          7843157,
          7843158,
          7843159,
          7843160,
          7843161,
          7843162,
          7843163,
          7843164,
          7843165,
          7843166,
          7843167,
          7843168,
          7843169,
          7843170,
          7843171,
          7843172,
          7843173,
          7843174,
          7843175,
          7843176,
          7843177,
          7843178,
          7843179,
          7843180,
          7843181,
          7843182,
          7843183,
          7843184,
          7843185,
          7843186,
          7843187,
          7843188,
          7843189,
          7843190,
          7843191,
          7843192,
          7843193,
          7843194,
          7843195,
          7843196,
          7843197,
          7843198,
          7843199,
          7843200,
          7843201,
          7843202,
          7843203,
          7843204,
          7843205,
          7843206,
          7843207,
          7843208,
          7843209,
          7843210,
          7843211,
          7843212,
          7843213,
          7843214,
          7843215,
          7843216,
          7843217,
          7843218,
          7843219,
          7843220,
          7843221,
          7843222,
          7843223,
          7843224,
          7843225,
          7843226,
          7843227,
          7843228,
          7843229,
          7843230,
          7843231,
          7843232,
          7843233,
          7843234,
          7843235,
          7843236,
          7843237,
          7843238,
          7843239,
          7843240,
          7843241,
          7843242,
          7843243,
          7843244,
          7843245,
          7843246,
          7843247,
          7843248,
          7843249,
          7843250,
          7843251,
          7843252,
          7843253,
          7843254,
          7843255,
          7843256,
          7843257,
          7843258,
          7843259,
          7843260,
          7843261,
          7843262,
          7843263,
          7843264,
          7843265,
          7843266,
          7843267,
          7843268,
          7843269,
          7843270,
          7843271,
          7843272,
          7843273,
          7843274,
          7843275,
          7843276,
          7843277,
          7843278,
          7843279,
          7843280,
          7843281,
          7843282,
          7843283,
          7843284,
          7843285,
          7843286,
          7843287,
          7843288,
          7843289,
          7843290,
          7843291,
          7843292,
          7843293,
          7843294,
          7843295,
          7843296,
          7843297,
          7843298,
          7843299,
          7843300,
          7843301,
          7843302,
          7843303,
          7843304,
          7843305,
          7843306,
          7843307,
          7843308,
          7843309,
          7843310,
          7843311,
          7843312,
          7843313,
          7843314,
          7843315,
          7843316,
          7843317,
          7843318,
          7843319,
          7843320,
          7843321,
          7843322,
          7843323,
          7843324,
          7843325,
          7843326,
          7843327,
          7843328,
          7843329,
          7843330,
          7843331,
          7843332,
          7843333,
          7843334,
          7843335,
          7843336,
          7843337,
          7843338,
          7843339,
          7843340,
          7843341,
          7843342,
          7843343,
          7843344,
          7843345,
          7843346,
          7843347,
          7843348,
          7843349,
          7843350,
          7843351,
          7843352,
          7843353,
          7843354,
          7843355,
          7843356,
          7843357,
          7843358,
          7843359,
          7843360,
          7843361,
          7843362,
          7843363,
          7843364,
          7843365,
          7843366,
          7843367,
          7843368,
          7843369,
          7843370,
          7843371,
          7843372,
          7843373,
          7843374,
          7843375,
          7843376,
          7843377,
          7843378,
          7843379,
          7843380,
          7843381,
          7843382,
          7843383,
          7843384,
          7843385,
          7843386,
          7843387,
          7843388,
          7843389,
          7843390,
          7843391,
          7843392,
          7843393,
          7843394,
          7843395,
          7843396,
          7843397,
          7843398,
          7843399,
          7843400,
          7843401,
          7843402,
          7843403,
          7843404,
          7843405,
          7843406,
          7843407,
          7843408,
          7843409,
          7843410,
          7843411,
          7843412,
          7843413,
          7843414,
          7843415,
          7843416,
          7843417,
          7843418,
          7843419,
          7843420,
          7843421,
          7843422,
          7843423,
          7843424,
          7843425,
          7843426,
          7843427,
          7843428,
          7843429,
          7843430,
          7843431,
          7843432,
          7843433,
          7843434,
          7843435,
          7843436,
          7843437,
          7843438,
          7843439,
          7843440,
          7843441,
          7843442,
          7843443,
          7843444,
          7843445,
          7843446,
          7843447,
          7843448,
          7843449,
          7843450,
          7843451,
          7843452,
          7843453,
          7843454,
          7843455,
          7843456,
          7843457,
          7843458,
          7843459,
          7843460,
          7843461,
          7843462,
          7843463,
          7843464,
          7843465,
          7843466,
          7843467,
          7843468,
          7843469,
          7843470,
          7843471,
          7843472,
          7843473,
          7843474,
          7843475,
          7843476,
          7843477,
          7843478,
          7843479,
          7843480,
          7843481,
          7843482,
          7843483,
          7843484,
          7843485,
          7843486,
          7843487,
          7843488,
          7843489,
          7843490,
          7843491,
          7843492,
          7843493,
          7843494,
          7843495,
          7843496,
          7843497,
          7843498,
          7843499,
          7843500,
          7843501,
          7843502,
          7843503,
          7843504,
          7843505,
          7843506,
          7843507,
          7843508,
          7843509,
          7843510,
          7843511,
          7843512,
          7843513,
          7843514,
          7843515,
          7843516,
          7843517,
          7843518,
          7843519,
          7843520,
          7843521,
          7843522,
          7843523,
          7843524,
          7843525,
          7843526,
          7843527,
          7843528,
          7843529,
          7843530,
          7843531,
          7843532,
          7843533,
          7843534,
          7843535,
          7843536,
          7843537,
          7843538,
          7843539,
          7843540,
          7843541,
          7843542,
          7843543,
          7843544,
          7843545,
          7843546,
          7843547,
          7843548,
          7843549,
          7843550,
          7843551,
          7843552,
          7843553,
          7843554,
          7843555,
          7843556,
          7843557,
          7843558,
          7843559,
          7843560,
          7843561,
          7843562,
          7843563,
          7843564,
          7843565,
          7843566,
          7843567,
          7843568,
          7843569,
          7843570,
          7843571,
          7843572,
          7843573,
          7843574,
          7843575,
          7843576,
          7843577,
          7843578,
          7843579,
          7843580,
          7843581,
          7843582,
          7843583,
          7843584,
          7843585,
          7843586,
          7843587,
          7843588,
          7843589,
          7843590,
          7843591,
          7843592,
          7843593,
          7843594,
          7843595,
          7843596,
          7843597,
          7843598,
          7843599,
          7843600,
          7843601,
          7843602,
          7843603,
          7843604,
          7843605,
          7843606,
          7843607,
          7843608,
          7843609,
          7843610,
          7843611,
          7843612,
          7843613,
          7843614,
          7843615,
          7843616,
          7843617,
          7843618,
          7843619,
          7843620,
          7843621,
          7843622,
          7843623,
          7843624,
          7843625,
          7843626,
          7843627,
          7843628,
          7843629,
          7843630,
          7843631,
          7843632,
          7843633,
          7843634,
          7843635,
          7843636,
          7843637,
          7843638,
          7843639,
          7843640,
          7843641,
          7843642,
          7843643,
          7843644,
          7843645,
          7843646,
          7843647,
          7843648,
          7843649,
          7843650,
          7843651,
          7843652,
          7843653,
          7843654,
          7843655,
          7843656,
          7843657,
          7843658,
          7843659,
          7843660,
          7843661,
          7843662,
          7843663,
          7843664,
          7843665,
          7843666,
          7843667,
          7843668,
          7843669,
          7843670,
          7843671,
          7843672,
          7843673,
          7843674,
          7843675,
          7843676,
          7843677,
          7843678,
          7843679,
          7843680,
          7843681,
          7843682,
          7843683,
          7843684,
          7843685,
          7843686,
          7843687,
          7843688,
          7843689,
          7843690,
          7843691,
          7843692,
          7843693,
          7843694,
          7843695,
          7843696,
          7843697
        ]
      }
    },
    "1995": {
      "biostor\/65542": {
        "_id": "biostor\/65542",
        "_rev": "1-ce613d67f80415aa01698ce6d684a245",
        "author": [
          {
            "firstname": "Luis A",
            "lastname": "Ruedas",
            "name": "Luis A Ruedas"
          }
        ],
        "type": "article",
        "title": "Description of a new large-bodied species of Apomys Mearns, 1905 (Mammalia: Rodentia: Muridae) from Mindoro Island, Philippines",
        "journal": {
          "name": "Proceedings of the Biological Society of Washington",
          "volume": "108",
          "issue": "2",
          "pages": "302--318",
          "identifier": [
            {
              "type": "issn",
              "id": "0006-324X"
            }
          ]
        },
        "year": "1995",
        "link": [
          {
            "anchor": "LINK",
            "url": "http:\/\/biostor.org\/reference\/65542"
          },
          {
            "anchor": "LINK",
            "url": "http:\/\/www.biodiversitylibrary.org\/page\/34572132"
          }
        ],
        "identifier": [
          {
            "type": "biostor",
            "id": 65542
          },
          {
            "type": "bhl",
            "id": 34572132
          }
        ],
        "provenance": {
          "biostor": {
            "time": "2013-03-11T16:33:31+0000",
            "url": "http:\/\/biostor.org\/reference\/65542.json"
          }
        },
        "citation": "Luis A Ruedas (1995) Description of a new large-bodied species of Apomys Mearns, 1905 (Mammalia: Rodentia: Muridae) from Mindoro Island, Philippines. Proceedings of the Biological Society of Washington, 108(2): 302--318"
      }
    },
    "2002": {
      "biostor\/81423": {
        "_id": "biostor\/81423",
        "_rev": "1-40fae43651e9b31d2acb0501d43db2ca",
        "author": [
          {
            "firstname": "E A",
            "lastname": "Rickart",
            "name": "E A Rickart"
          },
          {
            "firstname": "L R",
            "lastname": "Heaney",
            "name": "L R Heaney"
          }
        ],
        "type": "article",
        "title": "Further Studies On The Chromosomes Of Philippine Rodents (Muridae : Murinae)",
        "journal": {
          "name": "Proceedings of The Biological Society of Washington",
          "volume": "115",
          "pages": "473--487",
          "identifier": [
            {
              "type": "issn",
              "id": "0006-324X"
            }
          ]
        },
        "year": "2002",
        "link": [
          {
            "anchor": "LINK",
            "url": "http:\/\/biostor.org\/reference\/81423"
          },
          {
            "anchor": "LINK",
            "url": "http:\/\/www.biodiversitylibrary.org\/page\/35518840"
          }
        ],
        "identifier": [
          {
            "type": "biostor",
            "id": 81423
          },
          {
            "type": "bhl",
            "id": 35518840
          }
        ],
        "provenance": {
          "biostor": {
            "time": "2013-03-11T17:25:14+0000",
            "url": "http:\/\/biostor.org\/reference\/81423.json"
          }
        },
        "citation": "E A Rickart, L R Heaney (2002) Further Studies On The Chromosomes Of Philippine Rodents (Muridae : Murinae). Proceedings of The Biological Society of Washington, 115: 473--487",
        "geometry": {
          "type": "MultiPoint",
          "coordinates": [
            [
              124.31666666667,
              13.783333333333
            ],
            [
              123.3,
              9.3
            ],
            [
              124.85,
              8.175
            ],
            [
              121.07083333333,
              17.441666666667
            ],
            [
              121.075,
              17.475
            ],
            [
              124.85,
              8.1583333333333
            ]
          ]
        }
      }
    },
    "2006": {
      "biostor\/65879": {
        "_id": "biostor\/65879",
        "_rev": "1-fd1fb6618ccd1deb97a245142d0c11cf",
        "author": [
          {
            "firstname": "Lawrence R",
            "lastname": "Heaney",
            "name": "Lawrence R Heaney"
          },
          {
            "firstname": "Blas R",
            "lastname": "Tabaranza",
            "name": "Blas R Tabaranza"
          },
          {
            "firstname": "Danilo S",
            "lastname": "Balete",
            "name": "Danilo S Balete"
          },
          {
            "firstname": "Natalie",
            "lastname": "Rigertas",
            "name": "Natalie Rigertas"
          }
        ],
        "type": "article",
        "title": "Synopsis and Biogeography of the Mammals of Camiguin Island, Philippines",
        "journal": {
          "name": "Fieldiana Zoology",
          "volume": "106",
          "pages": "28--48",
          "identifier": [
            {
              "type": "issn",
              "id": "0015-0754"
            }
          ]
        },
        "year": "2006",
        "link": [
          {
            "anchor": "LINK",
            "url": "http:\/\/biostor.org\/reference\/65879"
          },
          {
            "anchor": "LINK",
            "url": "http:\/\/www.biodiversitylibrary.org\/page\/2853545"
          }
        ],
        "identifier": [
          {
            "type": "biostor",
            "id": 65879
          },
          {
            "type": "bhl",
            "id": 2853545
          }
        ],
        "provenance": {
          "biostor": {
            "time": "2013-03-11T17:25:11+0000",
            "url": "http:\/\/biostor.org\/reference\/65879.json"
          }
        },
        "citation": "Lawrence R Heaney, Blas R Tabaranza, Danilo S Balete, Natalie Rigertas (2006) Synopsis and Biogeography of the Mammals of Camiguin Island, Philippines. Fieldiana Zoology, 106: 28--48"
      },
      "biostor\/65896": {
        "_id": "biostor\/65896",
        "_rev": "1-85e09d1a9abb943b3e30608cbc12c875",
        "author": [
          {
            "firstname": "L R",
            "lastname": "Heaney",
            "name": "L R Heaney"
          },
          {
            "firstname": "Tabaranza",
            "lastname": "Jr",
            "name": "Tabaranza Jr"
          },
          {
            "name": "B"
          },
          {
            "firstname": "E A",
            "lastname": "Rickart",
            "name": "E A Rickart"
          },
          {
            "firstname": "D S",
            "lastname": "Balete",
            "name": "D S Balete"
          },
          {
            "firstname": "N R",
            "lastname": "Ingle",
            "name": "N R Ingle"
          }
        ],
        "type": "article",
        "title": "The Mammals of Mt. Kitanglad Nature Park, Mindanao, Philippines",
        "journal": {
          "name": "Fieldiana: Zoology",
          "volume": "112",
          "pages": "1--63",
          "identifier": [
            {
              "type": "issn",
              "id": "0015-0754"
            }
          ]
        },
        "year": "2006",
        "link": [
          {
            "anchor": "LINK",
            "url": "http:\/\/biostor.org\/reference\/65896"
          },
          {
            "anchor": "LINK",
            "url": "http:\/\/www.biodiversitylibrary.org\/page\/2849316"
          }
        ],
        "identifier": [
          {
            "type": "biostor",
            "id": 65896
          },
          {
            "type": "bhl",
            "id": 2849316
          },
          {
            "type": "doi",
            "id": "10.3158\/0015-0754(2006)186[1:TMOMKN]2.0.CO;2"
          }
        ],
        "provenance": {
          "biostor": {
            "time": "2013-03-11T17:25:07+0000",
            "url": "http:\/\/biostor.org\/reference\/65896.json"
          }
        },
        "citation": "L R Heaney, Tabaranza Jr, B, E A Rickart, D S Balete, N R Ingle (2006) The Mammals of Mt. Kitanglad Nature Park, Mindanao, Philippines. Fieldiana: Zoology, 112: 1--63"
      },
      "biostor\/65937": {
        "_id": "biostor\/65937",
        "_rev": "1-df486cc293d3a3c49be03b7d0f17fb89",
        "author": [
          {
            "firstname": "L R",
            "lastname": "Heaney",
            "name": "L R Heaney"
          },
          {
            "firstname": "B R",
            "lastname": "Tabaranza",
            "name": "B R Tabaranza"
          }
        ],
        "type": "article",
        "title": "A New Species of Forest Mouse, Genus Apomys (Mammalia: Rodentia: Muridae), from Camiguin Island, Philippines",
        "journal": {
          "name": "Fieldiana Zoology",
          "volume": "106",
          "pages": "14--27",
          "identifier": [
            {
              "type": "issn",
              "id": "0015-0754"
            }
          ]
        },
        "year": "2006",
        "link": [
          {
            "anchor": "LINK",
            "url": "http:\/\/biostor.org\/reference\/65937"
          },
          {
            "anchor": "LINK",
            "url": "http:\/\/www.biodiversitylibrary.org\/page\/2853531"
          }
        ],
        "identifier": [
          {
            "type": "biostor",
            "id": 65937
          },
          {
            "type": "bhl",
            "id": 2853531
          },
          {
            "type": "doi",
            "id": "10.3158\/0015-0754(2006)106[14:ANSOFM]2.0.CO;2"
          }
        ],
        "provenance": {
          "biostor": {
            "time": "2013-03-11T16:33:35+0000",
            "url": "http:\/\/biostor.org\/reference\/65937.json"
          }
        },
        "citation": "L R Heaney, B R Tabaranza (2006) A New Species of Forest Mouse, Genus Apomys (Mammalia: Rodentia: Muridae), from Camiguin Island, Philippines. Fieldiana Zoology, 106: 14--27",
        "geometry": {
          "type": "MultiPoint",
          "coordinates": [
            [
              124.725,
              9.1583333333333
            ],
            [
              124.725,
              9.1583333333333
            ]
          ]
        }
      }
    }
  }
}

Publications tagged with a taxon name in a given year. By default returns complete publication details, use ?fields to filter
GET name/Apomys/publications/year/2006
< 200
< Content-Type: application/json
{
  "status": 200,
  "url": "_design\/publication\/_view\/tags?startkey=%5B%22Apomys%22%2C%222006%22%5D&endkey=%5B%22Apomys%22%2C%222006%22%5D&reduce=false",
  "years": {
    "2006": {
      "biostor\/65879": {
        "_id": "biostor\/65879",
        "_rev": "1-fd1fb6618ccd1deb97a245142d0c11cf",
        "author": [
          {
            "firstname": "Lawrence R",
            "lastname": "Heaney",
            "name": "Lawrence R Heaney"
          },
          {
            "firstname": "Blas R",
            "lastname": "Tabaranza",
            "name": "Blas R Tabaranza"
          },
          {
            "firstname": "Danilo S",
            "lastname": "Balete",
            "name": "Danilo S Balete"
          },
          {
            "firstname": "Natalie",
            "lastname": "Rigertas",
            "name": "Natalie Rigertas"
          }
        ],
        "type": "article",
        "title": "Synopsis and Biogeography of the Mammals of Camiguin Island, Philippines",
        "journal": {
          "name": "Fieldiana Zoology",
          "volume": "106",
          "pages": "28--48",
          "identifier": [
            {
              "type": "issn",
              "id": "0015-0754"
            }
          ]
        },
        "year": "2006",
        "link": [
          {
            "anchor": "LINK",
            "url": "http:\/\/biostor.org\/reference\/65879"
          },
          {
            "anchor": "LINK",
            "url": "http:\/\/www.biodiversitylibrary.org\/page\/2853545"
          }
        ],
        "identifier": [
          {
            "type": "biostor",
            "id": 65879
          },
          {
            "type": "bhl",
            "id": 2853545
          }
        ],
        "provenance": {
          "biostor": {
            "time": "2013-03-11T17:25:11+0000",
            "url": "http:\/\/biostor.org\/reference\/65879.json"
          }
        },
        "citation": "Lawrence R Heaney, Blas R Tabaranza, Danilo S Balete, Natalie Rigertas (2006) Synopsis and Biogeography of the Mammals of Camiguin Island, Philippines. Fieldiana Zoology, 106: 28--48"
      },
      "biostor\/65896": {
        "_id": "biostor\/65896",
        "_rev": "1-85e09d1a9abb943b3e30608cbc12c875",
        "author": [
          {
            "firstname": "L R",
            "lastname": "Heaney",
            "name": "L R Heaney"
          },
          {
            "firstname": "Tabaranza",
            "lastname": "Jr",
            "name": "Tabaranza Jr"
          },
          {
            "name": "B"
          },
          {
            "firstname": "E A",
            "lastname": "Rickart",
            "name": "E A Rickart"
          },
          {
            "firstname": "D S",
            "lastname": "Balete",
            "name": "D S Balete"
          },
          {
            "firstname": "N R",
            "lastname": "Ingle",
            "name": "N R Ingle"
          }
        ],
        "type": "article",
        "title": "The Mammals of Mt. Kitanglad Nature Park, Mindanao, Philippines",
        "journal": {
          "name": "Fieldiana: Zoology",
          "volume": "112",
          "pages": "1--63",
          "identifier": [
            {
              "type": "issn",
              "id": "0015-0754"
            }
          ]
        },
        "year": "2006",
        "link": [
          {
            "anchor": "LINK",
            "url": "http:\/\/biostor.org\/reference\/65896"
          },
          {
            "anchor": "LINK",
            "url": "http:\/\/www.biodiversitylibrary.org\/page\/2849316"
          }
        ],
        "identifier": [
          {
            "type": "biostor",
            "id": 65896
          },
          {
            "type": "bhl",
            "id": 2849316
          },
          {
            "type": "doi",
            "id": "10.3158\/0015-0754(2006)186[1:TMOMKN]2.0.CO;2"
          }
        ],
        "provenance": {
          "biostor": {
            "time": "2013-03-11T17:25:07+0000",
            "url": "http:\/\/biostor.org\/reference\/65896.json"
          }
        },
        "citation": "L R Heaney, Tabaranza Jr, B, E A Rickart, D S Balete, N R Ingle (2006) The Mammals of Mt. Kitanglad Nature Park, Mindanao, Philippines. Fieldiana: Zoology, 112: 1--63"
      },
      "biostor\/65937": {
        "_id": "biostor\/65937",
        "_rev": "1-df486cc293d3a3c49be03b7d0f17fb89",
        "author": [
          {
            "firstname": "L R",
            "lastname": "Heaney",
            "name": "L R Heaney"
          },
          {
            "firstname": "B R",
            "lastname": "Tabaranza",
            "name": "B R Tabaranza"
          }
        ],
        "type": "article",
        "title": "A New Species of Forest Mouse, Genus Apomys (Mammalia: Rodentia: Muridae), from Camiguin Island, Philippines",
        "journal": {
          "name": "Fieldiana Zoology",
          "volume": "106",
          "pages": "14--27",
          "identifier": [
            {
              "type": "issn",
              "id": "0015-0754"
            }
          ]
        },
        "year": "2006",
        "link": [
          {
            "anchor": "LINK",
            "url": "http:\/\/biostor.org\/reference\/65937"
          },
          {
            "anchor": "LINK",
            "url": "http:\/\/www.biodiversitylibrary.org\/page\/2853531"
          }
        ],
        "identifier": [
          {
            "type": "biostor",
            "id": 65937
          },
          {
            "type": "bhl",
            "id": 2853531
          },
          {
            "type": "doi",
            "id": "10.3158\/0015-0754(2006)106[14:ANSOFM]2.0.CO;2"
          }
        ],
        "provenance": {
          "biostor": {
            "time": "2013-03-11T16:33:35+0000",
            "url": "http:\/\/biostor.org\/reference\/65937.json"
          }
        },
        "citation": "L R Heaney, B R Tabaranza (2006) A New Species of Forest Mouse, Genus Apomys (Mammalia: Rodentia: Muridae), from Camiguin Island, Philippines. Fieldiana Zoology, 106: 14--27",
        "geometry": {
          "type": "MultiPoint",
          "coordinates": [
            [
              124.725,
              9.1583333333333
            ],
            [
              124.725,
              9.1583333333333
            ]
          ]
        }
      }
    }
  }
}

Publications tagged with a taxon name, filtered using list of fields
GET name/Apomys/publications/year/2006?fields=title,year,thumbnail
< 200
< Content-Type: application/json
{
  "status": 200,
  "url": "_design\/publication\/_view\/tags?startkey=%5B%22Apomys%22%2C%222006%22%5D&endkey=%5B%22Apomys%22%2C%222006%22%5D&reduce=false",
  "years": {
    "2006": {
      "biostor\/65879": {
        "title": "Synopsis and Biogeography of the Mammals of Camiguin Island, Philippines",
        "year": "2006",
        "thumbnail_url": "id\/biostor\/65879\/thumbnail\/image"
      },
      "biostor\/65896": {
        "title": "The Mammals of Mt. Kitanglad Nature Park, Mindanao, Philippines",
        "year": "2006",
        "thumbnail_url": "id\/biostor\/65896\/thumbnail\/image"
      },
      "biostor\/65937": {
        "title": "A New Species of Forest Mouse, Genus Apomys (Mammalia: Rodentia: Muridae), from Camiguin Island, Philippines",
        "year": "2006",
        "thumbnail_url": "id\/biostor\/65937\/thumbnail\/image"
      }
    }
  }
}

List of "related" names, such as names sharing the same specific name
GET /name/Euthymia saussurei/related
< 200
< Content-Type: application/json
{
  "status": 200,
  "url": "\/_design\/bhl\/_view\/name_synonym?key=%22Euthymia+saussurei%22",
  "related": [
    "Proeuthymia saussurei"
  ]
}

List of up to five names that have this name as a prefix. Can be used to support "typeahead" interface.
GET /name/Bufo a/suggestions
< 200
< Content-Type: application/json
{
  "status": 200,
  "url": "\/_design\/taxonName\/_view\/nameString?startkey=%22Bufo+a%22&endkey=%22Bufo+a%5Cu9999%22&limit=5",
  "suggestions": [
    "Bufo abatus",
    "Bufo abei",
    "Bufo achalensis",
    "Bufo achavali",
    "Bufo acutirostris"
  ]
}

--
Taxon concept
A taxon concept is a node in a classification, such as a GBIF taxon
--

Get details for a taxon in the GBIF taxonomy with id 4812886 (the genus Austrohoplochaetella Jamieson, 1971)
GET /taxon/gbif/4812886
< 200
< Content-Type: application/json
{
  "_id": "gbif\/4812886",
  "_rev": "1-6702254162d094abe3b78b6371005168",
  "type": "taxonConcept",
  "source": "http:\/\/ecat-dev.gbif.org\/checklist\/1",
  "nameAccordingTo": "Interim Register of Marine and Nonmarine Genera",
  "sourceIdentifier": "4812886",
  "scientificName": "Austrohoplochaetella Jamieson, 1971",
  "taxonRank": "genus",
  "canonicalName": "Austrohoplochaetella",
  "author": "Jamieson, 1971",
  "parent_id": "2254",
  "children": [
    {
      "scientificName": "Austrohoplochaetella albidus (Jackson, 1931)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella albidus",
      "author": "(Jackson, 1931)",
      "sourceIdentifier": "4812893"
    },
    {
      "scientificName": "Austrohoplochaetella bistichus (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella bistichus",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812889"
    },
    {
      "scientificName": "Austrohoplochaetella brancasteriensis (Michaelsen, 1910)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella brancasteriensis",
      "author": "(Michaelsen, 1910)",
      "sourceIdentifier": "4812919"
    },
    {
      "scientificName": "Austrohoplochaetella colliensis (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella colliensis",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812925"
    },
    {
      "scientificName": "Austrohoplochaetella galei (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella galei",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812929"
    },
    {
      "scientificName": "Austrohoplochaetella harveyensis (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella harveyensis",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812921"
    },
    {
      "scientificName": "Austrohoplochaetella hortensis (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella hortensis",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812923"
    },
    {
      "scientificName": "Austrohoplochaetella imparicystis (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella imparicystis",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812901"
    },
    {
      "scientificName": "Austrohoplochaetella kendricki Jamieson, 1971",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella kendricki",
      "author": "Jamieson, 1971",
      "sourceIdentifier": "4812910"
    },
    {
      "scientificName": "Austrohoplochaetella longicystis (Nicholls & Jackson, 1926)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella longicystis",
      "author": "(Nicholls & Jackson, 1926)",
      "sourceIdentifier": "4812917"
    },
    {
      "scientificName": "Austrohoplochaetella maecenatis (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella maecenatis",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812891"
    },
    {
      "scientificName": "Austrohoplochaetella modestus (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella modestus",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812911"
    },
    {
      "scientificName": "Austrohoplochaetella monostichus (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella monostichus",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812906"
    },
    {
      "scientificName": "Austrohoplochaetella nokanenaensis (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella nokanenaensis",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812913"
    },
    {
      "scientificName": "Austrohoplochaetella prestonianus (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella prestonianus",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812915"
    },
    {
      "scientificName": "Austrohoplochaetella purpurascens (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella purpurascens",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812895"
    },
    {
      "scientificName": "Austrohoplochaetella rubescens (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella rubescens",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812899"
    },
    {
      "scientificName": "Austrohoplochaetella suctorius (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella suctorius",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812887"
    },
    {
      "scientificName": "Austrohoplochaetella swarbricki (Nicholls & Jackson, 1926)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella swarbricki",
      "author": "(Nicholls & Jackson, 1926)",
      "sourceIdentifier": "4812927"
    },
    {
      "scientificName": "Austrohoplochaetella syndetoporus (Jackson, 1931)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella syndetoporus",
      "author": "(Jackson, 1931)",
      "sourceIdentifier": "4812897"
    },
    {
      "scientificName": "Austrohoplochaetella torbayensis (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella torbayensis",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812904"
    },
    {
      "scientificName": "Austrohoplochaetella whistleri (Michaelsen, 1907)",
      "taxonRank": "species",
      "canonicalName": "Austrohoplochaetella whistleri",
      "author": "(Michaelsen, 1907)",
      "sourceIdentifier": "4812908"
    }
  ],
  "ancestors": [
    {
      "sourceIdentifier": "1",
      "scientificName": "Animalia",
      "taxonRank": "kingdom",
      "canonicalName": "Animalia"
    },
    {
      "sourceIdentifier": "42",
      "scientificName": "Annelida",
      "taxonRank": "phylum",
      "canonicalName": "Annelida"
    },
    {
      "sourceIdentifier": "255",
      "scientificName": "Clitellata",
      "taxonRank": "class",
      "canonicalName": "Clitellata"
    },
    {
      "sourceIdentifier": "5958860",
      "scientificName": "Crassiclitellata Jamieson, 1988",
      "taxonRank": "order",
      "canonicalName": "Crassiclitellata",
      "author": "Jamieson, 1988"
    },
    {
      "sourceIdentifier": "2254",
      "scientificName": "Megascolecidae Rosa, 1891",
      "taxonRank": "family",
      "canonicalName": "Megascolecidae",
      "author": "Rosa, 1891"
    }
  ],
  "status": 200
}

--
Journals
The following is a section of resources related to journals
--

Get details for a journal with a given ISSN
GET /journals/issn/0022-2933
< 200
< Content-Type: application/json
{
  "_id": "issn\/0022-2933",
  "_rev": "32-2a91324d0d80898606971c13a764db5d",
  "rssurl": "http:\/\/www.tandfonline.com\/action\/showFeed?jc=tnah20&type=etoc&feed=rss",
  "publisher": "London, Taylor & Francis",
  "form": "JB",
  "peerreview": "Y",
  "rawcoverage": "v. 1- Jan.\/Mar. 1967-",
  "title": "Journal of natural history",
  "issn": "0022-2933",
  "oclcnum": [
    "642395913",
    "782282274",
    "715060604",
    "615543361",
    "740967792",
    "476154906",
    "263598982",
    "84357648",
    "795770486",
    "137343200",
    "288963957",
    "1783312",
    "788902884",
    "191710334",
    "473991062",
    "474780267",
    "321021698"
  ],
  "issnl": "0022-2933",
  "type": "journal",
  "preceding": [
    "0374-5481"
  ],
  "provenance": [
    {
      "time": "2013-03-16T12:32:23+0000",
      "url": "http:\/\/xissn.worldcat.org\/webservices\/xid\/issn\/0022-2933?method=getHistory&format=json"
    }
  ],
  "status": 200
}


Get all articles from a journal
GET /journals/issn/0022-2933/articles
< 200
< Content-Type: application/json
{
  "status": 200,
  "url": "_design\/issn\/_view\/articles?key=\"0022-2933\"",
  "articles": [
    {
      "title": "New taxa of North American Pteromalidae and Tetracampidae (Hymenoptera), with notes",
      "year": "1993"
    },
    {
      "title": "A new, sibling, tree frog from Jerusalem (Amphibia: Anura: Hylidae)",
      "year": "2007"
    }
  ]
}


Get all point localities in articles in a journal
GET journals/issn/0006-324X/geometry
< 200
< Content-Type: application/json
{
  "status": 200,
  "url": "_design\/issn\/_view\/points?key=\"0006-324X\"",
  "coordinates": [
    [
      117.013,
      -19.865
    ],
    [
      118.85666666667,
      -19.495
    ],
    [
      118.87333333333,
      -19.493333333333
    ],
    [
      17.968055555556,
      -33.051944444444
    ],
    [
      18.05,
      -33.116666666667
    ],
    [
      -114.73333333333,
      18.35
    ],
    [
      -109.21666666667,
      10.3
    ],
    [
      -106.55,
      21.583333333333
    ],
    [
      -77.35,
      6
    ],
    [
      -76.783333333333,
      17.95
    ],
    [
      -73.75,
      -39.75
    ],
    [
      -70.75,
      -33.75
    ],
    [
      -70.347333333333,
      40.049333333333
    ],
    [
      -70.0965,
      40.015166666667
    ],
    [
      -42.983333333333,
      -22.433333333333
    ],
    [
      -84.833333333333,
      10.483333333333
    ],
    [
      -128.98333333333,
      45.933333333333
    ],
    [
      -86.225,
      0.80333333333333
    ],
    [
      -86.153333333333,
      0.79833333333333
    ],
    [
      -86.128333333333,
      0.795
    ],
    [
      -86.083333333333,
      0.58333333333333
    ],
    [
      114.11666666667,
      -6.0833333333333
    ],
    [
      146.61666666667,
      -19.15
    ],
    [
      -156.18333333333,
      21.15
    ],
    [
      -156.13333333333,
      21.016666666667
    ],
    [
      -96.45,
      25.083333333333
    ],
    [
      -88.333333333333,
      29.05
    ],
    [
      -88.1,
      29.1
    ],
    [
      -87.8,
      29.2
    ],
    [
      -87.108333333333,
      29.866666666667
    ],
    [
      -86.45,
      28.55
    ],
    [
      -83.6,
      24.35
    ],
    [
      -83.516666666667,
      24.433333333333
    ],
    [
      -81.7,
      24.166666666667
    ],
    [
      -80.05,
      29.666666666667
    ],
    [
      -80,
      24.4
    ],
    [
      -79.8,
      28.7
    ],
    [
      -79.716666666667,
      23.983333333333
    ],
    [
      -79.666666666667,
      23.416666666667
    ],
    [
      -79.616666666667,
      23.091666666667
    ],
    [
      -79.583333333333,
      23.166666666667
    ],
    [
      -79.35,
      25.6
    ],
    [
      -79.3,
      23.666666666667
    ],
    [
      -79.283333333333,
      23.983333333333
    ],
    [
      -79.283333333333,
      24.8
    ],
    [
      -79.266666666667,
      22.916666666667
    ],
    [
      -79.166666666667,
      23.266666666667
    ],
    [
      -78.833333333333,
      22.8
    ],
    [
      -78.568333333333,
      26.116666666667
    ],
    [
      -76.883333333333,
      8.9333333333333
    ],
    [
      -67.933333333333,
      10.7
    ],
    [
      -66.296666666667,
      10.911666666667
    ],
    [
      -61.883333333333,
      16.883333333333
    ],
    [
      -54.6,
      7.7666666666667
    ],
    [
      -53.066666666667,
      7.3333333333333
    ],
    [
      -52.916666666667,
      7.1666666666667
    ],
    [
      -15.033333333333,
      -33.516666666667
    ],
    [
      -9.4333333333333,
      4.3333333333333
    ],
    [
      -5.0166666666667,
      4.9333333333333
    ],
    [
      8.05,
      3.75
    ],
    [
      8.7833333333333,
      -2
    ],
    [
      11.016666666667,
      -4.6333333333333
    ],
    [
      33.583333333333,
      -25.483333333333
    ],
    [
      76.908333333333,
      7.2916666666667
    ],
    [
      120.03,
      13.82
    ],
    [
      120.04166666667,
      13.803333333333
    ],
    [
      120.46666666667,
      13.841666666667
    ],
    [
      120.49166666667,
      13.781666666667
    ],
    [
      120.49666666667,
      13.77
    ],
    [
      123.35416666667,
      9.2791666666667
    ],
    [
      132.38333333333,
      32.6
    ],
    [
      135.55,
      35.429166666667
    ],
    [
      135.56666666667,
      33.391666666667
    ],
    [
      138.66388888889,
      33.091666666667
    ],
    [
      139.46666666667,
      35.183333333333
    ],
    [
      150.38333333333,
      -43.95
    ],
    [
      150.63333333333,
      -35.733333333333
    ],
    [
      152,
      -33.533333333333
    ],
    [
      153.68333333333,
      -29.916666666667
    ],
    [
      153.7,
      -29.866666666667
    ],
    [
      42.766666666667,
      41.4
    ],
    [
      -75.643333333333,
      19.913333333333
    ],
    [
      -74.233333333333,
      34
    ],
    [
      -74.215,
      33.988333333333
    ],
    [
      -44.826666666667,
      26.138333333333
    ],
    [
      -86.566666666667,
      20.95
    ],
    [
      -80.994444444444,
      24.238888888889
    ],
    [
      -80.579166666667,
      24.801388888889
    ],
    [
      -79.716666666667,
      26.266666666667
    ],
    [
      -79.010833333333,
      31.288333333333
    ],
    [
      -78.666666666667,
      26.45
    ],
    [
      -77.863888888889,
      31.813888888889
    ],
    [
      100.86666666667,
      12.666666666667
    ],
    [
      134.25416666667,
      7.0958333333333
    ],
    [
      134.25416666667,
      7.0958333333333
    ],
    [
      134.25416666667,
      7.0958333333333
    ],
    [
      -89.65,
      -1.3666666666667
    ],
    [
      -79.466666666667,
      -9.4
    ],
    [
      -79.213333333333,
      8.005
    ],
    [
      -79.196666666667,
      8.0116666666667
    ],
    [
      -78.571666666667,
      9.5416666666667
    ],
    [
      -78.558333333333,
      9.535
    ],
    [
      -78.433333333333,
      9.5116666666667
    ],
    [
      -78.426666666667,
      9.5083333333333
    ],
    [
      -78.361666666667,
      9.4866666666667
    ],
    [
      -78.345,
      9.4716666666667
    ],
    [
      -78.271666666667,
      9.4433333333333
    ],
    [
      -76.191666666667,
      34.115
    ],
    [
      -69.368333333333,
      11.66
    ],
    [
      -69.333333333333,
      11.7
    ],
    [
      -66.35,
      10.708333333333
    ],
    [
      -66.34,
      10.733333333333
    ],
    [
      -66.3,
      10.96
    ],
    [
      -66.296666666667,
      10.911666666667
    ],
    [
      -65.033333333333,
      10.333333333333
    ],
    [
      -64.266666666667,
      10.725
    ],
    [
      -63.216666666667,
      10.8
    ],
    [
      -63.216666666667,
      10.833333333333
    ],
    [
      -62.933333333333,
      10.793333333333
    ],
    [
      -62.916666666667,
      10.79
    ],
    [
      -62,
      10.75
    ],
    [
      -48.566666666667,
      -30.183333333333
    ],
    [
      -40.366666666667,
      -2.5166666666667
    ],
    [
      117.18333333333,
      -20.016666666667
    ],
    [
      118.1,
      -19.633333333333
    ],
    [
      142.58333333333,
      -38.636666666667
    ],
    [
      143.4,
      -39.816666666667
    ],
    [
      143.92666666667,
      -39.226666666667
    ],
    [
      144.34833333333,
      -40
    ],
    [
      134.44666666667,
      7.255
    ],
    [
      134.5025,
      7.3158333333333
    ],
    [
      134.50972222222,
      7.3094444444444
    ],
    [
      144.63888888889,
      13.356944444444
    ],
    [
      145.45,
      -14.666666666667
    ],
    [
      -108.29138888889,
      33.759444444444
    ],
    [
      -108.255,
      33.74
    ],
    [
      -108.02111111111,
      33.815
    ],
    [
      -107.18222222222,
      34.050555555556
    ],
    [
      -107.15444444444,
      34.029722222222
    ],
    [
      174.31333333333,
      -44.501666666667
    ],
    [
      174.91333333333,
      -44.466666666667
    ],
    [
      174.91333333333,
      -44.448333333333
    ],
    [
      176.98966666667,
      -43.824333333333
    ],
    [
      178.64716666667,
      -43.5065
    ],
    [
      178.9955,
      -43.497833333333
    ],
    [
      179.0005,
      -43.248
    ],
    [
      -130.20583333333,
      44.982833333333
    ],
    [
      -175.16666666667,
      -74.883333333333
    ],
    [
      -174.7,
      -74.866666666667
    ],
    [
      -80.941944444444,
      -2.1911111111111
    ],
    [
      -73.1,
      -36.7
    ],
    [
      -69.176666666667,
      -67.883333333333
    ],
    [
      -65.038333333333,
      -65.078333333333
    ],
    [
      -64.391666666667,
      -54.775
    ],
    [
      -64.123333333333,
      -64.795
    ],
    [
      -64.12,
      -64.791666666667
    ],
    [
      -64.118333333333,
      -64.791666666667
    ],
    [
      -64.116666666667,
      -64.791666666667
    ],
    [
      -64.033333333333,
      -65.088333333333
    ],
    [
      -63.508888888889,
      -64.821388888889
    ],
    [
      -63.502777777778,
      -64.821388888889
    ],
    [
      -63.500833333333,
      -64.820277777778
    ],
    [
      -63.5,
      -64.8
    ],
    [
      -62.983333333333,
      -64.316666666667
    ],
    [
      -62.75,
      -57.233333333333
    ],
    [
      -62.633333333333,
      -64.7
    ],
    [
      -59.196666666667,
      -62.321666666667
    ],
    [
      -59.195,
      -62.32
    ],
    [
      -59.19,
      -62.316666666667
    ],
    [
      -56.5,
      -61.416666666667
    ],
    [
      -56.166666666667,
      -62.65
    ],
    [
      -56.133333333333,
      -62.666666666667
    ],
    [
      -55.933333333333,
      -61.733333333333
    ],
    [
      -55.9,
      -61.766666666667
    ],
    [
      -54.75,
      -62.666666666667
    ],
    [
      -42.5,
      -77.603333333333
    ],
    [
      -42.086666666667,
      -77.833333333333
    ],
    [
      -35.5,
      -77.666666666667
    ],
    [
      -32.605,
      -74.1
    ],
    [
      -30.495,
      -72.826666666667
    ],
    [
      -30.448333333333,
      -73.473333333333
    ],
    [
      110.31111111111,
      -66.293055555556
    ],
    [
      168.31666666667,
      -77.066666666667
    ],
    [
      168.38333333333,
      -77.05
    ],
    [
      170.96666666667,
      -73.966666666667
    ],
    [
      172,
      -49.116666666667
    ],
    [
      -86.4,
      20.983333333333
    ],
    [
      -104,
      18.2
    ],
    [
      -84.916666666667,
      26.016666666667
    ],
    [
      -118.05,
      33.641666666667
    ],
    [
      47.97,
      -13.46
    ],
    [
      47.97,
      -13.46
    ],
    [
      124.18166666667,
      10.298333333333
    ],
    [
      124.18166666667,
      10.298333333333
    ],
    [
      127.5125,
      -1.8333333333333
    ],
    [
      127.5125,
      -1.8333333333333
    ],
    [
      129.86527777778,
      -4.5291666666667
    ],
    [
      129.875,
      -4.5347222222222
    ],
    [
      129.875,
      -4.5347222222222
    ],
    [
      -64.81,
      17.943833333333
    ],
    [
      -108.225,
      24.625
    ],
    [
      -105.74666666667,
      22.008333333333
    ],
    [
      -105.37666666667,
      20.753333333333
    ],
    [
      -96.125,
      15.683333333333
    ],
    [
      -95.165,
      16
    ],
    [
      -95.155,
      16
    ],
    [
      -95.133333333333,
      16.1
    ],
    [
      -95.125,
      5.8333333333333
    ],
    [
      -95.125,
      16.041666666667
    ],
    [
      -95.116666666667,
      16.116666666667
    ],
    [
      -95.041666666667,
      16.041666666667
    ],
    [
      -95.012666666667,
      15.975
    ],
    [
      -95,
      15.958333333333
    ],
    [
      -92.583333333333,
      14.75
    ],
    [
      -84.511666666667,
      9.4583333333333
    ],
    [
      -81.283333333333,
      -4.8
    ],
    [
      -80.683333333333,
      -3.65
    ],
    [
      -79,
      -8.2333333333333
    ],
    [
      -92.133333333333,
      17.016666666667
    ],
    [
      -92,
      16.883333333333
    ],
    [
      -106.33216666667,
      23.153333333333
    ],
    [
      -106.31666666667,
      23.1505
    ],
    [
      -106.313,
      23.147833333333
    ],
    [
      -106.08333333333,
      22.916666666667
    ],
    [
      -57.338333333333,
      29.293333333333
    ],
    [
      -57.966666666667,
      3.7
    ],
    [
      -57.7,
      4.975
    ],
    [
      -57.433333333333,
      4.7833333333333
    ],
    [
      -74.116666666667,
      -42.616666666667
    ],
    [
      -74.033333333333,
      -42.05
    ],
    [
      -73.966666666667,
      -42.783333333333
    ],
    [
      -73.85,
      -41.883333333333
    ],
    [
      -73.833333333333,
      -41.866666666667
    ],
    [
      -73.816666666667,
      -42.116666666667
    ],
    [
      -73.783333333333,
      -40.433333333333
    ],
    [
      -73.766666666667,
      -40.55
    ],
    [
      -73.716666666667,
      -43.116666666667
    ],
    [
      -73.616666666667,
      -43.116666666667
    ],
    [
      -73.35,
      -41.683333333333
    ],
    [
      -73.3,
      -39.766666666667
    ],
    [
      -73.266666666667,
      -37.3
    ],
    [
      -73.166666666667,
      -40.05
    ],
    [
      -73.166666666667,
      -39.433333333333
    ],
    [
      -73.1,
      -39.733333333333
    ],
    [
      -72.983333333333,
      -39.55
    ],
    [
      -72.95,
      -39.65
    ],
    [
      -72.666666666667,
      -41.616666666667
    ],
    [
      -72.45,
      -40.883333333333
    ],
    [
      -72.433333333333,
      -41.066666666667
    ],
    [
      -72.333333333333,
      -41.45
    ],
    [
      -72.3,
      -40.7
    ],
    [
      -74.416666666667,
      -49.133333333333
    ],
    [
      129.73333333333,
      41.933333333333
    ],
    [
      -126.61666666667,
      49.633333333333
    ],
    [
      -123.95,
      49.2
    ],
    [
      -12.825,
      49.333333333333
    ],
    [
      -2.32515,
      44.7209
    ],
    [
      -94.554388333333,
      26.388021666667
    ],
    [
      -91.824421666667,
      26.55652
    ],
    [
      -89.979636666667,
      27.728278333333
    ],
    [
      -89.828896666667,
      28.539505
    ],
    [
      -89.241423333333,
      26.38292
    ],
    [
      -87.762261666667,
      28.556756666667
    ],
    [
      -87.048368333333,
      29.333161666667
    ],
    [
      -86.575978333333,
      28.014105
    ],
    [
      -123.03333333333,
      38.3
    ],
    [
      -94.25,
      30.116666666667
    ],
    [
      -92.616666666667,
      19.516666666667
    ],
    [
      -92.616666666667,
      19.55
    ],
    [
      139.52333333333,
      34.97
    ],
    [
      127.08333333333,
      27.266666666667
    ],
    [
      127.08333333333,
      27.266666666667
    ],
    [
      -49.683333333333,
      -21.05
    ],
    [
      -49.466666666667,
      -20.566666666667
    ],
    [
      -49.383333333333,
      -20.616666666667
    ],
    [
      -48.15,
      -22.283333333333
    ],
    [
      -48.116666666667,
      -20.2
    ],
    [
      -47.833333333333,
      -15.333333333333
    ],
    [
      -47.75,
      -15.666666666667
    ],
    [
      -47.65,
      -15.666666666667
    ],
    [
      -47.633333333333,
      -22.216666666667
    ],
    [
      -47.116666666667,
      -22.316666666667
    ],
    [
      120.975,
      13.697222222222
    ],
    [
      123.82166666667,
      13.2
    ],
    [
      -128.33666666667,
      44.55
    ],
    [
      -125.605,
      44.656666666667
    ],
    [
      -88.933333333333,
      23.866666666667
    ],
    [
      -87.466666666667,
      18.966666666667
    ],
    [
      -82.816666666667,
      23.716666666667
    ],
    [
      -82.583333333333,
      23.416666666667
    ],
    [
      -82.433333333333,
      23.5
    ],
    [
      -81.816666666667,
      23.75
    ],
    [
      -81.316666666667,
      23.9
    ],
    [
      -81.233333333333,
      23.733333333333
    ],
    [
      -81.166666666667,
      24.05
    ],
    [
      -80.711666666667,
      23.865
    ],
    [
      -77.413333333333,
      24.363333333333
    ],
    [
      -68.7,
      11.615
    ],
    [
      -63.2,
      16.9
    ],
    [
      -58.55,
      1.6666666666667
    ],
    [
      -56.383333333333,
      -36.7
    ],
    [
      -42.808333333333,
      -24.283333333333
    ],
    [
      -37.283333333333,
      12.116666666667
    ],
    [
      -34.466666666667,
      -8.6166666666667
    ],
    [
      -25.216666666667,
      37.433333333333
    ],
    [
      -18.1,
      28.7
    ],
    [
      -13.566666666667,
      56.133333333333
    ],
    [
      115.25,
      -8.6833333333333
    ],
    [
      115.25,
      -8.6833333333333
    ],
    [
      71,
      -9
    ],
    [
      134,
      -6
    ],
    [
      -75.983333333333,
      37.116666666667
    ],
    [
      -75.916666666667,
      36.933333333333
    ],
    [
      -73.633333333333,
      40.566666666667
    ],
    [
      -64.616666666667,
      11.05
    ],
    [
      120.15,
      23
    ],
    [
      134.06694444444,
      35.051388888889
    ],
    [
      -77.27,
      33.008333333333
    ],
    [
      -76.488333333333,
      33.641666666667
    ],
    [
      71.815833333333,
      -5.4508333333333
    ],
    [
      72.210555555556,
      -5.3438888888889
    ],
    [
      34.916666666667,
      29.5
    ],
    [
      -79.216666666667,
      32.1
    ],
    [
      -76.9,
      33.616666666667
    ],
    [
      -76.566666666667,
      33.8
    ],
    [
      -64.766666666667,
      32.3
    ],
    [
      -60.55,
      19.133333333333
    ],
    [
      -60.533333333333,
      11.356111111111
    ],
    [
      -48.35,
      -27.283333333333
    ],
    [
      -46.683333333333,
      -24.483333333333
    ],
    [
      -45.423333333333,
      -23.828888888889
    ],
    [
      -40.4,
      -20.7
    ],
    [
      -37.5,
      -12.783333333333
    ],
    [
      -35.4,
      -3.9333333333333
    ],
    [
      -33,
      17.083333333333
    ],
    [
      -25,
      15
    ],
    [
      -5.7166666666667,
      -15.966666666667
    ],
    [
      -171.83333333333,
      25.833333333333
    ],
    [
      -63.983333333333,
      44.533333333333
    ],
    [
      -62.169444444444,
      46.322222222222
    ],
    [
      -150.13333333333,
      -57
    ],
    [
      -119.9,
      -54.05
    ],
    [
      -115.28333333333,
      -62.966666666667
    ],
    [
      -115.2,
      -61.933333333333
    ],
    [
      -114.95,
      -59.95
    ],
    [
      -114.93333333333,
      -59.933333333333
    ],
    [
      -114.78333333333,
      -68.333333333333
    ],
    [
      -114.75,
      -58.95
    ],
    [
      -114.71666666667,
      -60.933333333333
    ],
    [
      -114.7,
      -60.933333333333
    ],
    [
      -106.66666666667,
      -70.15
    ],
    [
      -102.91666666667,
      -70.133333333333
    ],
    [
      -102.91666666667,
      -70.116666666667
    ],
    [
      -90.9,
      -67.966666666667
    ],
    [
      -89.133333333333,
      -65.916666666667
    ],
    [
      -89.1,
      -65.916666666667
    ],
    [
      160.1,
      -41.966666666667
    ],
    [
      160.5,
      -39.783333333333
    ],
    [
      161.81666666667,
      -47.616666666667
    ],
    [
      162,
      -49.283333333333
    ],
    [
      162.01666666667,
      -51.15
    ],
    [
      166.7,
      -52.433333333333
    ],
    [
      139.20666666667,
      34.318333333333
    ],
    [
      -118.51333333333,
      33.423333333333
    ],
    [
      135.55,
      33.394444444444
    ],
    [
      135.56666666667,
      33.394444444444
    ],
    [
      138.66666666667,
      34.175
    ],
    [
      171.7,
      53.0965
    ],
    [
      172.5,
      52.466666666667
    ],
    [
      174.21666666667,
      52.241666666667
    ],
    [
      -178.59166666667,
      -75.936666666667
    ],
    [
      -77.603333333333,
      24.231666666667
    ],
    [
      -73.35,
      22.833333333333
    ],
    [
      -63.525,
      -64.808333333333
    ],
    [
      -57.2,
      -75.45
    ],
    [
      -44.75,
      -77.533333333333
    ],
    [
      -44.5,
      -77.35
    ],
    [
      98,
      7.5666666666667
    ],
    [
      120.81388888889,
      5.7777777777778
    ],
    [
      129.21666666667,
      -10.833333333333
    ],
    [
      168.66666666667,
      -76.16
    ],
    [
      -85.933333333333,
      13.183333333333
    ],
    [
      -84.533333333333,
      13.95
    ],
    [
      -84.5,
      10.333333333333
    ],
    [
      -84.433333333333,
      12.15
    ],
    [
      -84.016666666667,
      10.633333333333
    ],
    [
      -83.633333333333,
      9.8833333333333
    ],
    [
      -83.466666666667,
      8.95
    ],
    [
      -82.783333333333,
      9.6
    ],
    [
      -82.516666666667,
      9.45
    ],
    [
      -82.4,
      9.3
    ],
    [
      -82.266666666667,
      9.25
    ],
    [
      -82.266666666667,
      9.4
    ],
    [
      -82.183333333333,
      9.3166666666667
    ],
    [
      -82.133333333333,
      9.1666666666667
    ],
    [
      -82.033333333333,
      9.1666666666667
    ],
    [
      -81.9,
      9.1666666666667
    ],
    [
      -81.55,
      9.1
    ],
    [
      -79.983333333333,
      9.25
    ],
    [
      -79.933333333333,
      9.25
    ],
    [
      -79.9,
      9.2166666666667
    ],
    [
      -79.85,
      9.15
    ],
    [
      -79.816666666667,
      9.1666666666667
    ],
    [
      -79.8,
      8.8666666666667
    ],
    [
      -79.75,
      -1.5333333333333
    ],
    [
      -79.65,
      -3.7166666666667
    ],
    [
      -79.6,
      -0.46666666666667
    ],
    [
      -79.6,
      8.9
    ],
    [
      -79.6,
      9.2833333333333
    ],
    [
      -79.583333333333,
      8.95
    ],
    [
      -79.466666666667,
      0.33333333333333
    ],
    [
      -79.35,
      9.2333333333333
    ],
    [
      -79.15,
      -0.25
    ],
    [
      -78.766666666667,
      1.8166666666667
    ],
    [
      -78.366666666667,
      7.9666666666667
    ],
    [
      -77.95,
      -1.4833333333333
    ],
    [
      -77.766666666667,
      7.1166666666667
    ],
    [
      -77.75,
      8.1
    ],
    [
      -77.733333333333,
      8.1333333333333
    ],
    [
      -77.6,
      8
    ],
    [
      -77.433333333333,
      7.9833333333333
    ],
    [
      -77.166666666667,
      7.6666666666667
    ],
    [
      -77.116666666667,
      -4.65
    ],
    [
      -77.116666666667,
      8.0166666666667
    ],
    [
      -77.083333333333,
      3.6833333333333
    ],
    [
      -76.933333333333,
      4
    ],
    [
      -76.683333333333,
      5.1
    ],
    [
      -76.666666666667,
      5.7
    ],
    [
      -76.283333333333,
      7.85
    ],
    [
      -76.266666666667,
      7.0166666666667
    ],
    [
      -76.05,
      -5.8333333333333
    ],
    [
      -75.683333333333,
      8.2833333333333
    ],
    [
      -75.4,
      9.3
    ],
    [
      -75.35,
      9.5
    ],
    [
      -75.333333333333,
      0.46666666666667
    ],
    [
      -75.1,
      -6.7333333333333
    ],
    [
      -75.066666666667,
      9.9666666666667
    ],
    [
      -75.05,
      7.35
    ],
    [
      -74.766666666667,
      -0.2
    ],
    [
      -74.533333333333,
      -8.3833333333333
    ],
    [
      -74.216666666667,
      -4.8333333333333
    ],
    [
      -74.216666666667,
      -4.7
    ],
    [
      -74.083333333333,
      -2.3666666666667
    ],
    [
      -73.916666666667,
      7.1666666666667
    ],
    [
      -73.616666666667,
      4.15
    ],
    [
      -73.433333333333,
      10.15
    ],
    [
      -73.25,
      -3.7666666666667
    ],
    [
      -72.6,
      9.15
    ],
    [
      -72.583333333333,
      8.5
    ],
    [
      -72.516666666667,
      7.9
    ],
    [
      -72.1,
      -3.3166666666667
    ],
    [
      -71.316666666667,
      12.35
    ],
    [
      -69.95,
      -4.15
    ],
    [
      -68.383333333333,
      10.533333333333
    ],
    [
      -67.933333333333,
      3.8666666666667
    ],
    [
      -67.683333333333,
      10.366666666667
    ],
    [
      -67.016666666667,
      6.8
    ],
    [
      -66.833333333333,
      10.366666666667
    ],
    [
      -65.916666666667,
      3.0833333333333
    ],
    [
      -65.55,
      3.1666666666667
    ],
    [
      -65.4,
      -10.383333333333
    ],
    [
      -65.383333333333,
      -10.383333333333
    ],
    [
      -65.133333333333,
      -16.8
    ],
    [
      -65.116666666667,
      7.15
    ],
    [
      -64.833333333333,
      -0.51666666666667
    ],
    [
      -64.416666666667,
      -16
    ],
    [
      -63.85,
      -17.4
    ],
    [
      -63.666666666667,
      -17.45
    ],
    [
      -63.166666666667,
      -17.8
    ],
    [
      -62.366666666667,
      7.1833333333333
    ],
    [
      -62.25,
      7
    ],
    [
      -62.083333333333,
      -3.8333333333333
    ],
    [
      -61.55,
      7.0333333333333
    ],
    [
      -61.316666666667,
      6.2833333333333
    ],
    [
      -60.083333333333,
      -3.1333333333333
    ],
    [
      -60.016666666667,
      -3.1333333333333
    ],
    [
      -59.5,
      2.8333333333333
    ],
    [
      -58.683333333333,
      6.3833333333333
    ],
    [
      -58.65,
      6.4
    ],
    [
      -58.3,
      6.4166666666667
    ],
    [
      -56.733333333333,
      -2.6
    ],
    [
      -55.5,
      -3.6666666666667
    ],
    [
      -55.466666666667,
      5.1666666666667
    ],
    [
      -55.283333333333,
      -3.45
    ],
    [
      -55.166666666667,
      5.8333333333333
    ],
    [
      -55.133333333333,
      -2.8333333333333
    ],
    [
      -55,
      -2.4333333333333
    ],
    [
      -54.983333333333,
      -2.75
    ],
    [
      -54.7,
      -2.4333333333333
    ],
    [
      -52.666666666667,
      -3.8333333333333
    ],
    [
      -52.2,
      -1.7
    ],
    [
      -49.683333333333,
      -2.6833333333333
    ],
    [
      -49.5,
      -2.5833333333333
    ],
    [
      -49.5,
      -2.25
    ],
    [
      -49.5,
      -1
    ],
    [
      -48.483333333333,
      -1.45
    ],
    [
      -39.75,
      -13.533333333333
    ],
    [
      -39.266666666667,
      -14.8
    ],
    [
      -80.450666666667,
      27.827333333333
    ],
    [
      88.033333333333,
      20.916666666667
    ],
    [
      90.368055555556,
      7.2
    ],
    [
      103.46666666667,
      4.5
    ],
    [
      105.88333333333,
      1.9666666666667
    ],
    [
      107.38333333333,
      9.9833333333333
    ],
    [
      131.5,
      -5.75
    ],
    [
      146.33333333333,
      -5.3666666666667
    ],
    [
      -79.066666666667,
      1.6166666666667
    ],
    [
      -79.041666666667,
      1.65
    ],
    [
      -79.033333333333,
      1.625
    ],
    [
      -78.116666666667,
      2.9333333333333
    ],
    [
      -77.55,
      3.2333333333333
    ],
    [
      -73.393611111111,
      -38.035277777778
    ],
    [
      -73.380277777778,
      -37.735833333333
    ],
    [
      -73.255,
      -37.926944444444
    ],
    [
      -115.27111111111,
      27.633333333333
    ],
    [
      -96.529722222222,
      27.435
    ],
    [
      -86.083055555556,
      29.916388888889
    ],
    [
      -81.663333333333,
      25.296666666667
    ],
    [
      -80.183333333333,
      25.5
    ],
    [
      -80.083333333333,
      25.583333333333
    ],
    [
      -70.65,
      39.925277777778
    ],
    [
      -67.248611111111,
      18.430555555556
    ],
    [
      -66.369444444444,
      18.5375
    ],
    [
      -59.55,
      -13.95
    ],
    [
      -37.283333333333,
      -12.116666666667
    ],
    [
      118.83944444444,
      9.6916666666667
    ],
    [
      119.1125,
      4.8791666666667
    ],
    [
      120.01388888889,
      13.6875
    ],
    [
      123.68583333333,
      13.625
    ],
    [
      123.82166666667,
      13.2
    ],
    [
      123.99833333333,
      13.1725
    ],
    [
      124.08416666667,
      12.220833333333
    ],
    [
      126.44777777778,
      8.8458333333333
    ],
    [
      -69.566666666667,
      43.933333333333
    ],
    [
      -69.566666666667,
      43.966666666667
    ],
    [
      137.25,
      -35.616666666667
    ],
    [
      -86.224722222222,
      0.80416666666667
    ],
    [
      -86.133333333333,
      0.795
    ],
    [
      -86.128888888889,
      0.795
    ],
    [
      -86.116666666667,
      0.80166666666667
    ],
    [
[...]
